section#search.search.home-section
    .container
        h2.title-1 Поздравления по разделам
        ul.search__cards.search-cards
          li.search-cards__card.search-cards-card
            img(src="assets/img/home/img-5.webp",alt="img").search-cards-card__img
            .search-cards-card__title С днём рождения
          li.search-cards__card.search-cards-card
            img(src="assets/img/home/img-4.webp",alt="img").search-cards-card__img
            .search-cards-card__title С праздниками
          li.search-cards__card.search-cards-card
            img(src="assets/img/home/img-8.webp",alt="img").search-cards-card__img
            .search-cards-card__title Со свадьбой
          li.search-cards__card.search-cards-card
            img(src="assets/img/home/img-9.webp",alt="img").search-cards-card__img
            .search-cards-card__title Тосты
          li.search-cards__card.search-cards-card
            img(src="assets/img/home/img-7.webp",alt="img").search-cards-card__img
            .search-cards-card__title Музыкальные и голосовые
          li.search-cards__card.search-cards-card
            img(src="assets/img/home/img-6.webp",alt="img").search-cards-card__img
            .search-cards-card__title Картинки и открытки



section#birthday.search.home-section
    .container
        h2.title-1 Популярные поздравления с днём рождения
        ul.search__cards.search-cards
          li.search-cards__card.search-cards__card--birthday.search-cards-card
            .search-cards-card__title.search-cards-card__title--birthday 
              img(src="assets/img/home/divider.webp",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
              p Желаю счастья в день рожденья,
              p Здоровья, смеха, доброты!
              p Пусть дарит каждое мгновенье
              p Осуществление мечты!
              p Всё то, что радость доставляет
              p И отчего душа поёт,
              p Всё то, что сердце вдохновляет,
              p Пусть обязательно придёт!
              img(src="assets/img/home/divider.webp",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
          li.search-cards__card.search-cards__card--birthday.search-cards-card
            .search-cards-card__title.search-cards-card__title--birthday 
              img(src="assets/img/home/divider.webp",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
              p Желаем здоровья на долгие годы.
              p Чтоб вас стороной обходили невзгоды,
              p Чтоб счастье и радость не знали разлуки,
              p Чтоб душу согрели вам дети и внуки. 
              img(src="assets/img/home/divider.webp",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
          li.search-cards__card.search-cards__card--birthday.search-cards-card
            .search-cards-card__title.search-cards-card__title--birthday 
              img(src="assets/img/home/divider.webp",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
              p Желаю счастья в день рожденья,
              p Здоровья, смеха, доброты!
              p Пусть дарит каждое мгновенье
              p Осуществление мечты!
              p Всё то, что радость доставляет
              p И отчего душа поёт,
              p Всё то, что сердце вдохновляет,
              p Пусть обязательно придёт!
            
            .search-cards-card__title--drop
              p Желаю счастья в день рожденья,
              p Здоровья, смеха, доброты!
              p Пусть дарит каждое мгновенье
              p Осуществление мечты!
              p Всё то, что радость доставляет
              p И отчего душа поёт,
              p Всё то, что сердце вдохновляет,
              p Пусть обязательно придёт!
              img(src="assets/img/home/divider.webp",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
            .search-cards-card__add Продолжение
          button.btn(type='button').home-section__button.home-section__button--birthday
            span Больше поздравлений
            .button-helper.button-helper--birthday


section#toasts.search.home-section
    .container
        h2.title-1 Лучшие тосты за столом
        ul.search__cards.search-cards
          li.search-cards__card.search-cards__card--birthday.search-cards-card
            .search-cards-card__title.search-cards-card__title--birthday
              img(src="assets/img/home/divider.webp",alt="img").search-cards-card__img.search-cards-card__img--birthday
              p.search-cards-card__text Желаю всем улыбок столько, сколько звезд на небе. Пусть в душе будет вечно весна, а жизнь беззаботна и весела! И по скольку жизнь то коротка, желаю всем прожить ее сполна. Обязательно везде всем побывать и прекрасных жизненных моментов никогда не забывать!
              img(src="assets/img/home/divider.webp",alt="img").search-cards-card__img.search-cards-card__img--birthday
          li.search-cards__card.search-cards__card--birthday.search-cards-card
            .search-cards-card__title.search-cards-card__title--birthday
              img(src="assets/img/home/divider.webp",alt="img").search-cards-card__img.search-cards-card__img--birthday
              p.search-cards-card__text Я хочу поднять свой бокал за тех замечательных людей, которые сидят сейчас вместе со мной. Хочу сказать спасибо судьбе, что она связала меня с этими людьми и наши дороге пересеклись. Не один раз они выручали меня, были моей поддержкой и опорой. Каждый из
            .search-cards-card__title--drop
              p.search-cards-card__text Я хочу поднять свой бокал за тех замечательных людей, которые сидят сейчас вместе со мной. Хочу сказать спасибо судьбе, что она связала меня с этими людьми и наши дороге пересеклись. Не один раз они выручали меня, были моей поддержкой и опорой. Каждый из
              img(src="assets/img/home/divider.webp",alt="img").search-cards-card__img.search-cards-card__img--birthday
            .search-cards-card__add.search-cards-card__add--toast Продолжение
          
          
          
          
          li.search-cards__card.search-cards__card--birthday.search-cards-card
            .search-cards-card__title.search-cards-card__title--birthday
              img(src="assets/img/home/divider.webp",alt="img").search-cards-card__img.search-cards-card__img--birthday
              p.search-cards-card__text Пусть на ваших губах всегда будет привкус сладкой жизни, в ушах звенит мелодия любви. А в голове — мысли лишь о победе, и о том, чтобы всю жизнь ездить только на золотой карете!
              img(src="assets/img/home/divider.webp",alt="img").search-cards-card__img.search-cards-card__img--birthday


          button.btn(type='button').home-section__button.home-section__button--toasts
            span Больше тостов
            .button-helper.button-helper--toasts




section#popular.search.home-section.popular
    .container
        h2.title-1 Популярные картинки и открытки
        .popular__cards.popular-cards
          .popular-cards__long
            .popular-cards__card.popular-cards-card
              img(src="assets/img/home/img-12.webp",alt="img")
            .popular-cards__card.popular-cards-card
              img(src="assets/img/home/img-13.webp",alt="img")
            .popular-cards__card.popular-cards-card
              img(src="assets/img/home/img-1.webp",alt="img")
          .popular-cards__high
            .popular-cards__card.popular-cards-card
              img(src="assets/img/home/img-2.webp",alt="img")
          .popular-cards__long
            .popular-cards__card.popular-cards-card
              img(src="assets/img/home/img-11.webp",alt="img")
            .popular-cards__card.popular-cards-card
              img(src="assets/img/home/img-3.webp",alt="img")
        button.btn(type='button').home-section__button.home-section__button--popular
            span Больше открыток
            .button-helper.button-helper--popular
