section#search.search.home-section
    .container
        h2.title-1 Поздравления по разделам
        ul.search__cards.search__cards--search.search-cards
          - 
            items = [
                { title: "С днём рождения ", url: "assets/img/home/img-5.svg" },
                { title: "С праздниками ", url: "assets/img/home/img-4.svg" },
                { title: "Со свадьбой ", url: "assets/img/home/img-8.svg" },
                { title: "Тосты ", url: "assets/img/home/img-9.svg" },
                { title: "Музыкальные и голосовые ", url: "assets/img/home/img-7.svg" },
                { title: "Картинки и открытки ", url: "assets/img/home/img-6.svg" },
              ]
          
          each item in items
              li.search-cards__card.search-cards__card--search.search-cards-card.random-color
                a(href="#!").search-cards-card__link 
                  img(src=item.url,alt="img").search-cards-card__img
                  .search-cards-card__title.search-cards-card__title--search=item.title 

section#birthday.search.home-section
    .container
        h2.title-1 Популярные поздравления с днём рождения
        
        .search__slider
            .slider
                .slider__arrows
                  i.slider__arrow.slider__arrow_prev.slider__arrow_prev--1.icon-chevron-left
                  i.slider__arrow.slider__arrow_next.slider__arrow_next--1.icon-chevron-right
                ul.slider__body.slider-js-1

                    li.slider__item.slider__item--birthday.slider-item-birthday.path.random-color
                        img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
                        .slider-item-birthday__inner.carryover.copytext Желаю счастья в день рожденья,Здоровья, смеха, доброты!Пусть дарит каждое мгновеньеОсуществление мечты!Всё то, что радость доставляетИ отчего душа поёт,Всё то, что сердце вдохновляет,Пусть обязательно придёт!

                        img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
                    li.slider__item.slider__item--birthday.slider-item-birthday.path.random-color
                        img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
                        .slider-item-birthday__inner.carryover.copytext Желаем здоровья на долгие годы.Чтоб вас стороной обходили невзгоды,Чтоб счастье и радость не знали разлуки,Чтоб душу согрели вам дети и внуки.!

                        img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
                    li.slider__item.slider__item--birthday.slider-item-birthday.path.random-color
                        img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
                        .slider-item-birthday__inner.carryover.copytext Желаю счастья в день рожденья,Здоровья, смеха, доброты!Пусть дарит каждое мгновеньеОсуществление мечты!Всё то, что радость доставляетИ отчего душа поёт,Всё то, что сердце вдохновляет,Пусть обязательно придёт!Желаю счастья в день рожденья,Здоровья, смеха, доброты!Пусть дарит каждое мгновеньеОсуществление мечты!Всё то, что радость доставляетИ отчего душа поёт,Всё то, что сердце вдохновляет,Пусть обязательно придёт!
                        img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
                        .slider-item-birthday__add Продолжение





        
        ul.search__cards.search__cards--birthday.search-cards
          li.search-cards__card.search-cards__card--birthday.search-cards-card.path.random-color
            .search-cards-card__title.search-cards-card__title--birthday.copytext
              img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
              .carryover Желаю счастья в день рожденья,Здоровья, смеха, доброты!Пусть дарит каждое мгновеньеОсуществление мечты!Всё то, что радость доставляетИ отчего душа поёт,Всё то, что сердце вдохновляет,Пусть обязательно придёт!
              img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
          li.search-cards__card.search-cards__card--birthday.search-cards-card.path.random-color
            .search-cards-card__title.search-cards-card__title--birthday.copytext 
              img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
              .carryover Желаем здоровья на долгие годы.Чтоб вас стороной обходили невзгоды,Чтоб счастье и радость не знали разлуки,Чтоб душу согрели вам дети и внуки.Желаем здоровья на долгие годы.Чтоб вас стороной обходили невзгоды,Чтоб счастье и радость не знали разлуки,Чтоб душу согрели вам дети и внуки. 
              img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
          li.search-cards__card.search-cards__card--birthday.search-cards-card.random-color
              .search-cards-card__title.search-cards-card__title--birthday.path.copytext
                img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
                .carryover Желаю счастья в день рожденья, Здоровья, смеха, доброты! Пусть дарит каждое мгновенье Осуществление мечты! Всё то, что радость доставляет И отчего душа поёт, Всё то, что сердце вдохновляет, Пусть обязательно придёт!Желаю счастья в день рожденья, Здоровья, смеха, доброты! Пусть дарит каждое мгновенье Осуществление мечты! Всё то, что радость доставляет И отчего душа поёт, Всё то, что сердце вдохновляет, Пусть обязательно придёт!
                img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
              .search-cards-card__add Продолжение

        ul.search__cards.search__cards--add.search-cards  
              li.search-cards__card.search-cards__card--birthday.search-cards-card.path.random-color
                .search-cards-card__title.search-cards-card__title--birthday.copytext 
                  img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
                  .carryover Желаю счастья в день рожденья,Здоровья, смеха, доброты!Пусть дарит каждое мгновеньеОсуществление мечты!Всё то, что радость доставляетИ отчего душа поёт,Всё то, что сердце вдохновляет,Пусть обязательно придёт!
                  img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
              li.search-cards__card.search-cards__card--birthday.search-cards-card.path.random-color
                .search-cards-card__title.search-cards-card__title--birthday.copytext 
                  img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
                  .carryover Желаем здоровья на долгие годы.Чтоб вас стороной обходили невзгоды,Чтоб счастье и радость не знали разлуки,Чтоб душу согрели вам дети и внуки.Желаем здоровья на долгие годы.Чтоб вас стороной обходили невзгоды,Чтоб счастье и радость не знали разлуки,Чтоб душу согрели вам дети и внуки. 
                  img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
              li.search-cards__card.search-cards__card--birthday.search-cards-card.random-color

                  .search-cards-card__title.search-cards-card__title--birthday.path.copytext  
                    img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
                    .carryover Желаю счастья в день рожденья, Здоровья, смеха, доброты! Пусть дарит каждое мгновенье Осуществление мечты! Всё то, что радость доставляет И отчего душа поёт, Всё то, что сердце вдохновляет, Пусть обязательно придёт!Желаю счастья в день рожденья, Здоровья, смеха, доброты! Пусть дарит каждое мгновенье Осуществление мечты! Всё то, что радость доставляет И отчего душа поёт, Всё то, что сердце вдохновляет, Пусть обязательно придёт!
                    img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
                  .search-cards-card__add Продолжение
          
              li.search-cards__card.search-cards__card--birthday.search-cards-card.path.random-color
                .search-cards-card__title.search-cards-card__title--birthday.copytext 
                  img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
                  .carryover Желаю счастья в день рожденья, Здоровья, смеха, доброты! Пусть дарит каждое мгновенье Осуществление мечты! Всё то, что радость доставляет И отчего душа поёт, Всё то, что сердце вдохновляет, Пусть обязательно придёт!
                  img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
              li.search-cards__card.search-cards__card--birthday.search-cards-card.path.random-color
                .search-cards-card__title.search-cards-card__title--birthday.copytext 
                  img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
                  .carryover Желаем здоровья на долгие годы.Чтоб вас стороной обходили невзгоды,Чтоб счастье и радость не знали разлуки,Чтоб душу согрели вам дети и внуки.Желаем здоровья на долгие годы.Чтоб вас стороной обходили невзгоды,Чтоб счастье и радость не знали разлуки,Чтоб душу согрели вам дети и внуки. 
                  img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
              
              li.search-cards__card.search-cards__card--birthday.search-cards-card.random-color
                  .search-cards-card__title.search-cards-card__title--birthday.path.copytext  
                    img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
                    .carryover Желаю счастья в день рожденья, Здоровья, смеха, доброты! Пусть дарит каждое мгновенье Осуществление мечты! Всё то, что радость доставляет И отчего душа поёт, Всё то, что сердце вдохновляет, Пусть обязательно придёт!Желаю счастья в день рожденья, Здоровья, смеха, доброты! Пусть дарит каждое мгновенье Осуществление мечты! Всё то, что радость доставляет И отчего душа поёт, Всё то, что сердце вдохновляет, Пусть обязательно придёт!
                    img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
                  .search-cards-card__add Продолжение
          
        button.btn(type='button').home-section__button.home-section__button--birthday.home-button
            span Больше поздравлений
            .button-helper.button-helper--birthday


section#toasts.search.home-section
    .container
        h2.title-1 Лучшие тосты за столом

       

       
        ul.search__cards.search-cards.search__cards--toasts
          li.search-cards__card.search-cards__card--birthday.search-cards-card.search-cards__card--toast.path.random-color
            .search-cards-card__title.search-cards-card__title--birthday.copytext
              img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
              p.search-cards-card__text Желаю всем улыбок столько, сколько звезд на небе. Пусть в душе будет вечно весна, а жизнь беззаботна и весела! И по скольку жизнь то коротка, желаю всем прожить ее сполна. Обязательно везде всем побывать и прекрасных жизненных моментов никогда не забывать!
              img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
              
          li.search-cards__card.search-cards__card--birthday.search-cards-card.search-cards__card--toast.random-color
            .search-cards-card__title.search-cards-card__title--birthday.path.copytext 
              img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
              p.search-cards-card__text Я хочу поднять свой бокал за тех замечательных людей, которые сидят сейчас вместе со мной. Хочу сказать спасибо судьбе, что она связала меня с этими людьми и наши дороге пересеклись. Не один раз они выручали меня, были моей поддержкой и опорой. Каждый из присутствующих заслуживает счастья, любви, и главное, таких же рядом людей, которые никогда бы не бросили их в трудный момент. Говорят, что именно сам Бог посылает нам наших верных помощников — друзей. Так выпьем за всех нас и нашу дружбу! 
              img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
            .search-cards-card__add.search-cards-card__add--toast Продолжение
          li.search-cards__card.search-cards__card--birthday.search-cards-card.search-cards__card--toast.path.random-color
            .search-cards-card__title.search-cards-card__title--birthday.copytext
              img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
              p.search-cards-card__text Пусть на ваших губах всегда будет привкус сладкой жизни, в ушах звенит мелодия любви. А в голове — мысли лишь о победе, и о том, чтобы всю жизнь ездить только на золотой карете!
              img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
        ul.search__cards.search__cards--add.search-cards
          li.search-cards__card.search-cards__card--birthday.search-cards-card.search-cards__card--toast.path.random-color
            .search-cards-card__title.search-cards-card__title--birthday.copytext
              img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
              p.search-cards-card__text Желаю всем улыбок столько, сколько звезд на небе. Пусть в душе будет вечно весна, а жизнь беззаботна и весела! И по скольку жизнь то коротка, желаю всем прожить ее сполна. Обязательно везде всем побывать и прекрасных жизненных моментов никогда не забывать!
              img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
          li.search-cards__card.search-cards__card--birthday.search-cards-card.search-cards__card--toast.random-color
            .search-cards-card__title.search-cards-card__title--birthday.path.copytext 
              img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
              p.search-cards-card__text Я хочу поднять свой бокал за тех замечательных людей, которые сидят сейчас вместе со мной. Хочу сказать спасибо судьбе, что она связала меня с этими людьми и наши дороге пересеклись. Не один раз они выручали меня, были моей поддержкой и опорой. Каждый из Я хочу поднять свой бокал за тех замечательных людей, которые сидят сейчас вместе со мной. Хочу сказать спасибо судьбе, что она связала меня с этими людьми и наши дороге пересеклись. Не один раз они выручали меня, были моей поддержкой и опорой. Каждый изХочу сказать спасибо судьбе, что она связала меня с этими людьми и наши дороге пересеклись. Не один раз они выручали меня, были моей поддержкой и опорой. 
              img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
            .search-cards-card__add.search-cards-card__add--toast Продолжение
          li.search-cards__card.search-cards__card--birthday.search-cards-card.search-cards__card--toast.path.random-color
            .search-cards-card__title.search-cards-card__title--birthday.copytext
              img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
              p.search-cards-card__text Пусть на ваших губах всегда будет привкус сладкой жизни, в ушах звенит мелодия любви. А в голове — мысли лишь о победе, и о том, чтобы всю жизнь ездить только на золотой карете!
              img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
          li.search-cards__card.search-cards__card--birthday.search-cards-card.search-cards__card--toast.path.random-color
            .search-cards-card__title.search-cards-card__title--birthday.copytext
              img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
              p.search-cards-card__text Желаю всем улыбок столько, сколько звезд на небе. Пусть в душе будет вечно весна, а жизнь беззаботна и весела! И по скольку жизнь то коротка, желаю всем прожить ее сполна. Обязательно везде всем побывать и прекрасных жизненных моментов никогда не забывать!
              img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
          li.search-cards__card.search-cards__card--birthday.search-cards-card.search-cards__card--toast.random-color
            .search-cards-card__title.search-cards-card__title--birthday.path.copytext 
              img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
              p.search-cards-card__text Я хочу поднять свой бокал за тех замечательных людей, которые сидят сейчас вместе со мной. Хочу сказать спасибо судьбе, что она связала меня с этими людьми и наши дороге пересеклись. Не один раз они выручали меня, были моей поддержкой и опорой. Каждый из Я хочу поднять свой бокал за тех замечательных людей, которые сидят сейчас вместе со мной. Хочу сказать спасибо судьбе, что она связала меня с этими людьми и наши дороге пересеклись. Не один раз они выручали меня, были моей поддержкой и опорой. Каждый изХочу сказать спасибо судьбе, что она связала меня с этими людьми и наши дороге пересеклись. Не один раз они выручали меня, были моей поддержкой и опорой. 
              img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
            .search-cards-card__add.search-cards-card__add--toast Продолжение
          li.search-cards__card.search-cards__card--birthday.search-cards-card.search-cards__card--toast.path.random-color
            .search-cards-card__title.search-cards-card__title--birthday.copytext
              img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
              p.search-cards-card__text Пусть на ваших губах всегда будет привкус сладкой жизни, в ушах звенит мелодия любви. А в голове — мысли лишь о победе, и о том, чтобы всю жизнь ездить только на золотой карете!
              img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom

        .search__slider
            .slider
                .slider__arrows
                  i.slider__arrow.slider__arrow_prev.slider__arrow_prev--2.icon-chevron-left
                  i.slider__arrow.slider__arrow_next.slider__arrow_next--2.icon-chevron-right
                ul.slider__body.slider-js-2
                 

                    li.slider__item.slider__item--birthday.slider-item-birthday.path.random-color
                        img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
                        .slider-item-birthday__inner.slider-item-birthday__inner--toasts.copytext Желаю всем улыбок столько, сколько звезд на небе. Пусть в душе будет вечно весна, а жизнь беззаботна и весела! И по скольку жизнь то коротка, желаю всем прожить ее сполна. Обязательно везде всем побывать и прекрасных жизненных моментов никогда не забывать!
                        img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
                    li.slider__item.slider__item--birthday.slider-item-birthday.path.random-color
                        img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
                        .slider-item-birthday__inner.slider-item-birthday__inner--toasts.copytext Желаю всем улыбок столько, сколько звезд на небе. Пусть в душе будет вечно весна, а жизнь беззаботна и весела! И по скольку жизнь то коротка, желаю всем прожить ее сполна. Обязательно везде всем побывать и прекрасных жизненных моментов никогда не забывать!Я хочу поднять свой бокал за тех замечательных людей, которые сидят сейчас вместе со мной. Хочу сказать спасибо судьбе, что она связала меня с этими людьми и наши дороге пересеклись. Не один раз они выручали меня, были моей поддержкой и опорой. Каждый из присутствующих заслуживает счастья, любви, и главное, таких же рядом людей, которые никогда бы не бросили их в трудный момент. Говорят, что именно сам Бог посылает нам наших верных помощников — друзей. Так выпьем за всех нас и нашу дружбу! 
                        img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
                        .slider-item-birthday__add Продолжение
                    li.slider__item.slider__item--birthday.slider-item-birthday.path.random-color
                        img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
                        .slider-item-birthday__inner.slider-item-birthday__inner--toasts.copytext Пусть на ваших губах всегда будет привкус сладкой жизни, в ушах звенит мелодия любви. А в голове — мысли лишь о победе, и о том, чтобы всю жизнь ездить только на золотой карете!
                        img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
                        
       
       
        button.btn(type='button').home-section__button.home-section__button--toasts.home-button
            span Больше тостов
            .button-helper.button-helper--toasts

section#popular.search.home-section.popular
    .container
        h2.title-1.title-1--popular Популярные картинки и открытки
        .popular__cards.popular-cards
            .popular-cards__card.popular-cards-card.popular-cards__card--1
              img(src="assets/img/home/img-12.webp",alt="img")
            .popular-cards__card.popular-cards-card.popular-cards__card--2
              img(src="assets/img/home/img-13.webp",alt="img")
            .popular-cards__card.popular-cards-card.popular-cards__card--3
              img(src="assets/img/home/img-1.webp",alt="img")
            .popular-cards__card.popular-cards-card.popular-cards__card--4
              img(src="assets/img/home/img-2.webp",alt="img")
            .popular-cards__card.popular-cards-card.popular-cards__card--5
              img(src="assets/img/home/img-11.webp",alt="img")
            .popular-cards__card.popular-cards-card.popular-cards__card--6
              img(src="assets/img/home/img-3.webp",alt="img")
        .popular__cards.popular__cards--add.popular-cards
            .popular-cards__card.popular-cards-card.popular-cards__card--1
              img(src="assets/img/home/img-12.webp",alt="img")
            .popular-cards__card.popular-cards-card.popular-cards__card--2
              img(src="assets/img/home/img-13.webp",alt="img")
            .popular-cards__card.popular-cards-card.popular-cards__card--3
              img(src="assets/img/home/img-1.webp",alt="img")
            .popular-cards__card.popular-cards-card.popular-cards__card--4
              img(src="assets/img/home/img-2.webp",alt="img")
            .popular-cards__card.popular-cards-card.popular-cards__card--5
              img(src="assets/img/home/img-11.webp",alt="img")
            .popular-cards__card.popular-cards-card.popular-cards__card--6
              img(src="assets/img/home/img-3.webp",alt="img")
        .popular__cards.popular__cards--add.popular-cards
            .popular-cards__card.popular-cards-card.popular-cards__card--1
              img(src="assets/img/home/img-12.webp",alt="img")
            .popular-cards__card.popular-cards-card.popular-cards__card--2
              img(src="assets/img/home/img-13.webp",alt="img")
            .popular-cards__card.popular-cards-card.popular-cards__card--3
              img(src="assets/img/home/img-1.webp",alt="img")
            .popular-cards__card.popular-cards-card.popular-cards__card--4
              img(src="assets/img/home/img-2.webp",alt="img")
            .popular-cards__card.popular-cards-card.popular-cards__card--5
              img(src="assets/img/home/img-11.webp",alt="img")
            .popular-cards__card.popular-cards-card.popular-cards__card--6
              img(src="assets/img/home/img-3.webp",alt="img")
        
        
        button.btn(type='button').home-section__button.home-section__button--popular
            span Больше открыток
            .button-helper.button-helper--popular





