main#map.search.home-section.march.map
    .container
      .march__body
        .title-1.march__title 
          h1 Карта сайту
        .march__soc.march-connect
        
        .map__inner
          section.map__article.map-article
            .map-article__title.tabs-title-js
              h3 Привітання з Днем народження для всіх!
              i.icon-chevron-down.tabs-img-js
            .map-article__drop.tabs-drop-js.map-article-inner
                
                  .map-article-inner__block.map-inner-block
                    p.map-inner-block__title  Привітання з <a href="#!" class="_orange"> ювілеєм </a> у віршах
                    article.map-article-inner__item.map-article-inner-item
                      .map-article-inner-item__title
                        h5  Привітання з ювілеєм жінці у віршах
                      ul.map-article-inner-item__propertes
                        li.map-article-inner-item__property
                          a(href="#!").map-article-inner-item__property-link  Привітання з ювілеєм 25 років дівчині у віршах
                        li.map-article-inner-item__property
                          a(href="#!").map-article-inner-item__property-link  Привітання з ювілеєм 30 років жінці у віршах
                        li.map-article-inner-item__property
                          a(href="#!").map-article-inner-item__property-link  Привітання з ювілеєм 35 років жінці у віршах
                    article.map-article-inner__item.map-article-inner-item
                      .map-article-inner-item__title
                        h5  Привітання з ювілеєм чоловіку у віршах
                      ul.map-article-inner-item__propertes
                        li.map-article-inner-item__property
                          a(href="#!").map-article-inner-item__property-link  Привітання з ювілеєм 25 років чоловіку у віршах
                        li.map-article-inner-item__property
                          a(href="#!").map-article-inner-item__property-link  Привітання з ювілеєм 30 рокі чоловіку у віршах
                        li.map-article-inner-item__property
                          a(href="#!").map-article-inner-item__property-link  Привітання з ювілеєм 35 рокі чоловіку у віршах
                    article.map-article-inner__item.map-article-inner-item
                      .map-article-inner-item__title
                        h5  Привітання з ювілеєм чоловіку у віршах
                      ul.map-article-inner-item__propertes
                        li.map-article-inner-item__property
                          a(href="#!").map-article-inner-item__property-link  Привітання з ювілеєм 25 років чоловіку у віршах
                        li.map-article-inner-item__property
                          a(href="#!").map-article-inner-item__property-link  Привітання з ювілеєм 30 рокі чоловіку у віршах
                        li.map-article-inner-item__property
                          a(href="#!").map-article-inner-item__property-link  Привітання з ювілеєм 35 рокі чоловіку у віршах
       
                  .map-article-inner__block.map-inner-block
                    p.map-inner-block__title  Привітання з днем народження  <a href="#!"  class="_orange"> в прозі </a> 


                
                  .map-article-inner__block.map-inner-block
                    p.map-inner-block__title  Привітання з днем народження <a href="#!" class="_red"> мамі </a> 
                    article.map-article-inner__item.map-article-inner-item
                      ul.map-article-inner-item__propertes
                        li.map-article-inner-item__property
                          a(href="#!").map-article-inner-item__property-link  Короткі привітання з днем народження мамі
                        li.map-article-inner-item__property
                          a(href="#!").map-article-inner-item__property-link  Привітання з днем народження мамі від дочки
                        li.map-article-inner-item__property
                          a(href="#!").map-article-inner-item__property-link  Привітання з днем народження мамі від сина
                        li.map-article-inner-item__property
                          a(href="#!").map-article-inner-item__property-link  Привітання з днем народження мамі в прозі
                  
       
                  .map-article-inner__block.map-inner-block
                      p.map-inner-block__title  Привітання з днем народження  <a href="#!"  class="_red"> бабусі </a> 
                      article.map-article-inner__item.map-article-inner-item
                        ul.map-article-inner-item__propertes
                          li.map-article-inner-item__property
                            a(href="#!").map-article-inner-item__property-link  Поздоровлення бабусі з ювілеєм у віршах
                          li.map-article-inner-item__property
                            a(href="#!").map-article-inner-item__property-link  Привітання з днем народження бабусі в прозі
                          li.map-article-inner-item__property
                            a(href="#!").map-article-inner-item__property-link  Привітання з днем народження бабусі від внучки
                          li.map-article-inner-item__property
                            a(href="#!").map-article-inner-item__property-link  Привітання з днем народження бабусі від онука
                          li.map-article-inner-item__property
                            a(href="#!").map-article-inner-item__property-link  Прикольні привітання з днем народження бабусі


                  .map-article-inner__block.map-inner-block
                      p.map-inner-block__title  Привітання з днем народження  <a href="#!"  class="_bue"> татові </a> 
                      article.map-article-inner__item.map-article-inner-item
                        ul.map-article-inner-item__propertes
                          li.map-article-inner-item__property
                            a(href="#!").map-article-inner-item__property-link  Короткі привітання з днем народження татові
                          li.map-article-inner-item__property
                            a(href="#!").map-article-inner-item__property-link  Привітання з днем народження татові від дітей
                          li.map-article-inner-item__property
                            a(href="#!").map-article-inner-item__property-link  Привітання з днем народження татові від дочки
                          li.map-article-inner-item__property
                            a(href="#!").map-article-inner-item__property-link  Привітання з днем народження татові від сина
                          li.map-article-inner-item__property
                            a(href="#!").map-article-inner-item__property-link  Привітання з днем народження татові в прозі


                  .map-article-inner__block.map-inner-block
                      p.map-inner-block__title  Привітання з днем народження   <a href="#!"  class="_bue"> синові </a> 
                      article.map-article-inner__item.map-article-inner-item
                        ul.map-article-inner-item__propertes
                          li.map-article-inner-item__property
                            a(href="#!").map-article-inner-item__property-link  Привітання з днем народження для сина від мами
                          li.map-article-inner-item__property
                            a(href="#!").map-article-inner-item__property-link  Привітання з днем народження для сина від тата
                          li.map-article-inner-item__property
                            a(href="#!").map-article-inner-item__property-link  Привітання з днем народження сину від батьків
                          li.map-article-inner-item__property
                            a(href="#!").map-article-inner-item__property-link  Привітання з днем народження синові в прозі
                  
       
          section.map__article.map-article
            .map-article__title.tabs-title-js
              h3 Привітання зі святами українською мовою
              i.icon-chevron-down.tabs-img-js
            .map-article__drop.tabs-drop-js.map-article-inner
                .map-article-inner__section.map-article-inner-section
                  .map-article-inner-section__title 
                    h3 Загальні свята
                  .map-article-inner__block.map-inner-block
                  
                    p.map-inner-block__title  Привітання з <a href="#!" class="_orange"> 8 березня </a> 
                    article.map-article-inner__item.map-article-inner-item
                      ul.map-article-inner-item__propertes
                        li.map-article-inner-item__property
                          a(href="#!").map-article-inner-item__property-link  Поздоровлення з 8 березня коханій
                        li.map-article-inner-item__property
                          a(href="#!").map-article-inner-item__property-link  Привітання з 8 березня мамі та бабусі
                        li.map-article-inner-item__property
                          a(href="#!").map-article-inner-item__property-link  Прикольні привітання з 8 березня
       
                  .map-article-inner__block.map-inner-block
                    p.map-inner-block__title  Привітання з днем народження  <a href="#!"  class="_orange"> в прозі </a> 


                
                  .map-article-inner__block.map-inner-block
                    p.map-inner-block__title  Привітання з Днем  <a href="#!" class="_red"> знань </a> 
                    article.map-article-inner__item.map-article-inner-item
                      ul.map-article-inner-item__propertes
                        li.map-article-inner-item__property
                          a(href="#!").map-article-inner-item__property-link  Короткі привітання з днем народження мамі
                        li.map-article-inner-item__property
                          a(href="#!").map-article-inner-item__property-link  Привітання з днем народження мамі від дочки
                        li.map-article-inner-item__property
                          a(href="#!").map-article-inner-item__property-link  Привітання з днем народження мамі від сина
                        li.map-article-inner-item__property
                          a(href="#!").map-article-inner-item__property-link  Привітання з днем народження мамі в прозі
                  
       
                ul.map-article-inner__section
                  li.map-article-inner-section__title 
                    h3 Релігійні свята
                  li.map-article-inner__block.map-inner-block
                      p.map-inner-block__title  Привітання з днем народження  <a href="#!"  class="_red"> бабусі </a> 
                  li.map-article-inner__block.map-inner-block
                      p.map-inner-block__title  Привітання з днем народження  <a href="#!"  class="_red"> бабусі </a> 
                  li.map-article-inner__block.map-inner-block
                      p.map-inner-block__title  Привітання з днем народження  <a href="#!"  class="_red"> бабусі </a> 
                  li.map-article-inner__block.map-inner-block
                      p.map-inner-block__title  Привітання з днем народження  <a href="#!"  class="_red"> бабусі </a> 
                  li.map-article-inner__block.map-inner-block
                      p.map-inner-block__title  Привітання з днем народження  <a href="#!"  class="_red"> бабусі </a> 
                     
       
       
                ul.map-article-inner__section
                  li.map-article-inner-section__title
                    h3 Професійні свята
                  li.map-article-inner__block.map-inner-block
                      p.map-inner-block__title  Привітання з днем народження  <a href="#!"  class="_red"> бабусі </a> 
                  li.map-article-inner__block.map-inner-block
                      p.map-inner-block__title  Привітання з днем народження  <a href="#!"  class="_red"> бабусі </a> 
                  li.map-article-inner__block.map-inner-block
                      p.map-inner-block__title  Привітання з днем народження  <a href="#!"  class="_red"> бабусі </a> 
                  li.map-article-inner__block.map-inner-block
                      p.map-inner-block__title  Привітання з днем народження  <a href="#!"  class="_red"> бабусі </a> 
                  li.map-article-inner__block.map-inner-block
                      p.map-inner-block__title  Привітання з днем народження  <a href="#!"  class="_red"> бабусі </a> 
                  li.map-article-inner__block.map-inner-block
                      p.map-inner-block__title  Привітання з днем народження  <a href="#!"  class="_red"> бабусі </a> 
                  li.map-article-inner__block.map-inner-block
                      p.map-inner-block__title  Привітання з днем народження  <a href="#!"  class="_red"> бабусі </a> 
                  li.map-article-inner__block.map-inner-block
                      p.map-inner-block__title  Привітання з днем народження  <a href="#!"  class="_red"> бабусі </a> 
                  li.map-article-inner__block.map-inner-block
                      p.map-inner-block__title  Привітання з днем народження  <a href="#!"  class="_red"> бабусі </a> 
                  li.map-article-inner__block.map-inner-block
                      p.map-inner-block__title  Привітання з днем народження  <a href="#!"  class="_red"> бабусі </a> 
                  li.map-article-inner__block.map-inner-block
                      p.map-inner-block__title  Привітання з днем народження  <a href="#!"  class="_red"> бабусі </a> 
                  li.map-article-inner__block.map-inner-block
                      p.map-inner-block__title  Привітання з днем народження  <a href="#!"  class="_red"> бабусі </a> 
                  li.map-article-inner__block.map-inner-block
                      p.map-inner-block__title  Привітання з днем народження  <a href="#!"  class="_red"> бабусі </a> 
                  li.map-article-inner__block.map-inner-block
                      p.map-inner-block__title  Привітання з днем народження  <a href="#!"  class="_red"> бабусі </a> 
                  li.map-article-inner__block.map-inner-block
                      p.map-inner-block__title  Привітання з днем народження  <a href="#!"  class="_red"> бабусі </a> 
                  li.map-article-inner__block.map-inner-block
                      p.map-inner-block__title  Привітання з днем народження  <a href="#!"  class="_red"> бабусі </a> 
                  li.map-article-inner__block.map-inner-block
                      p.map-inner-block__title  Привітання з днем народження  <a href="#!"  class="_red"> бабусі </a> 


          section.map__article.map-article
            .map-article__title.tabs-title-js
              h3 Поздоровлення до весілля
              i.icon-chevron-down.tabs-img-js
            .map-article__drop.tabs-drop-js.map-article-inner
                .map-article-inner__section.map-article-inner-section
                  .map-article-inner-section__title Загальні свята        
       
       
       
          section.map__article.map-article
            .map-article__title.tabs-title-js
              h3 Кращі тости
              i.icon-chevron-down.tabs-img-js
            .map-article__drop.tabs-drop-js.map-article-inner
                .map-article-inner__section.map-article-inner-section
                  .map-article-inner-section__title Загальні свята        
       
       
       
          section.map__article.map-article
            .map-article__title.tabs-title-js
              h3 Святкові листівки та картинки
              i.icon-chevron-down.tabs-img-js
            .map-article__drop.tabs-drop-js.map-article-inner
                .map-article-inner__section.map-article-inner-section
                  .map-article-inner-section__title Загальні свята        
       
       
       
          section.map__article.map-article
            .map-article__title.tabs-title-js
              h3 Музичні і голосові привітання
              i.icon-chevron-down.tabs-img-js
            .map-article__drop.tabs-drop-js.map-article-inner
                .map-article-inner__section.map-article-inner-section
                  .map-article-inner-section__title Загальні свята        
       
       
       
          section.map__article.map-article
            .map-article__title.tabs-title-js
              h3 Статті по розділах
              i.icon-chevron-down.tabs-img-js
            .map-article__drop.tabs-drop-js.map-article-inner
                .map-article-inner__section.map-article-inner-section
                  .map-article-inner-section__title Загальні свята        
       
       
       
          section.map__article.map-article
            .map-article__title.tabs-title-js
              h3 Контакти
              i.icon-chevron-down.tabs-img-js
            .map-article__drop.tabs-drop-js.map-article-inner
                .map-article-inner__section.map-article-inner-section
                  .map-article-inner-section__title Контакти        
        
        
        //- ul#march-soc.march-connect__soc.soc
