include ../utils/mixins

main#common.search.home-section.march.names
    .container
      .march__body
        .title-1.march__title 
          h1 Привітання з днем народження по іменах
        .march__soc.march-connect
          include ./includes/soc-aside

        nav.march__nav.march-nav.march__nav--march
          ul.march-nav__block
              li.march-nav__item
                button.btn.btn--march.btn--friend(type='button')  Анне
              li.march-nav__item._hidden
                button.btn.btn--march.btn--friend(type='button')  Ирине
              li.march-nav__item
                button.btn.btn--march.btn--friend(type='button')  Сергею
              li.march-nav__item
                button.btn.btn--march.btn--friend(type='button')  Александру
              li.march-nav__item
                button.btn.btn--march.btn--friend(type='button')  Анастасии
              li.march-nav__item
                button.btn.btn--march.btn--friend(type='button')  Владимиру
              li.march-nav__item
                button.btn.btn--march.btn--friend(type='button')  Дмитрию
              li.march-nav__item
                button.btn.btn--march.btn--friend(type='button')  Марии

  

                
        .search__transfer.search__transfer--names.search-transfer
          .search-transfer__title.title-1 
            h2  Знайти іменинника
          .search-transfer__input
            input(type="text" placeholder="Пошук серед 216 імен")
            i.icon-search

        sectiom.names__inner.names-inner       
          article.names-inner__letter.names-letter
            .names-letter__title
              h4  a
            ul.names-letter__list
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")

          article.names-inner__letter.names-letter
            .names-letter__title
              h4  Б
            ul.names-letter__list
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Белла")
                  +name("Богдан")
                  +name("Борис")
                  +name("Белла")


          article.names-inner__letter.names-letter
            .names-letter__title
              h4  В
            ul.names-letter__list
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")


          article.names-inner__letter.names-letter
            .names-letter__title
              h4  г
            ul.names-letter__list
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")


          article.names-inner__letter.names-letter
            .names-letter__title
              h4  д
            ul.names-letter__list
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")


          article.names-inner__letter.names-letter
            .names-letter__title
              h4  е
            ul.names-letter__list
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")


          article.names-inner__letter.names-letter
            .names-letter__title
              h4  ж
            ul.names-letter__list
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")


          article.names-inner__letter.names-letter
            .names-letter__title
              h4  з
            ul.names-letter__list
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")


          article.names-inner__letter.names-letter
            .names-letter__title
              h4  и
            ul.names-letter__list
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")


          article.names-inner__letter.names-letter
            .names-letter__title
              h4  к
            ul.names-letter__list
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")


          article.names-inner__letter.names-letter
            .names-letter__title
              h4  л
            ul.names-letter__list
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")


          article.names-inner__letter.names-letter
            .names-letter__title
              h4  м
            ul.names-letter__list
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")


          article.names-inner__letter.names-letter
            .names-letter__title
              h4  н
            ul.names-letter__list
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")


          article.names-inner__letter.names-letter
            .names-letter__title
              h4  о
            ul.names-letter__list
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")


          article.names-inner__letter.names-letter
            .names-letter__title
              h4  п
            ul.names-letter__list
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")


          article.names-inner__letter.names-letter
            .names-letter__title
              h4  р
            ul.names-letter__list
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")


          article.names-inner__letter.names-letter
            .names-letter__title
              h4  с
            ul.names-letter__list
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")


          article.names-inner__letter.names-letter
            .names-letter__title
              h4  т
            ul.names-letter__list
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")


          article.names-inner__letter.names-letter
            .names-letter__title
              h4  у
            ul.names-letter__list
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")


          article.names-inner__letter.names-letter
            .names-letter__title
              h4  ф
            ul.names-letter__list
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")


          article.names-inner__letter.names-letter
            .names-letter__title
              h4  э
            ul.names-letter__list
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")


          article.names-inner__letter.names-letter
            .names-letter__title
              h4  ю
            ul.names-letter__list
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")


          article.names-inner__letter.names-letter
            .names-letter__title
              h4  я
            ul.names-letter__list
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")
              li.names-letter__list-item
                ul.names-letter__list-column.names-column
                  +name("Абрам")
                  +name("Адам")
                  +name("Аделина")
                  +name("Азамат")
                  +name("Аида")
                  +name("Айгуль")
                  +name("Айдар")







        
        include ./includes/march-connect


