main#ukr.search.home-section.march
    .container
      .march__body
        .title-1.march__title 
          h1 Привітання зі святами українською мовою
        .march__soc.march-connect
          include ./includes/soc-aside

        p.march__description Унікальне й щире привітання – це саме та деталь, що допомагає створити неперевершений святковий настрій. Більшість свят повторюються з року в рік, і далеко не кожен гість здатен постійно вигадувати щось нове і дійсно неповторне. Наш сайт допоможе вам у цьому – в нас представлена чудова збірка прозових та віршованих привітань з будь-якої нагоди.

        
        section.march__section.march-section
            .title-1
              h2  Популярні свята
              a.march-section__link(href="#!") на 12 лютого
            ul.march-section__cards.march-section-cards.march-cards
                li.march-section-cards__card.march-card.march-section-cards__card--big
                  img.march-card__img(src="assets/img/ukr/img-1.svg",alt="img") 
                  .march-section-cards__block
                      p.march-card__title--ukr  З днем закоханих
                      button.btn(type='button' href="!#")._grad-1 Перейти  
                  
                li.march-section-cards__card.march-card
                  img(src="assets/img/ukr/img-7.svg",alt="img").march-card__img  
                  .march-section-cards__block
                      p.march-card__title--ukr  З 23-м лютого
                      button.btn(type='button'  href="!#")._grad-2 Перейти  
                  
                li.march-section-cards__card.march-card
                  img(src="assets/img/ukr/img-12.svg",alt="img").march-card__img  
                  .march-section-cards__block
                      p.march-card__title--ukr  З 8-м березня
                      button.btn(type='button'  href="!#").march-card__button._grad-3 Перейти  
                  

                li.march-section-cards__card.march-card.prose-card-js
                  img(src="assets/img/ukr/img-8.svg",alt="img").march-card__img  
                  .march-section-cards__block
                    p.march-card__title--ukr  З днем сміху
                    button.btn(type='button'  href="!#").march-card__button._grad-4 Перейти  
                  

                li.march-section-cards__card.march-card.prose-card-js
                  img(src="assets/img/ukr/img-11.svg",alt="img").march-card__img  
                  .march-section-cards__block 
                    p.march-card__title--ukr  З днем Праці
                    button.btn(type='button'  href="!#").march-card__button._grad-5 Перейти  
                  

                li.march-section-cards__card.march-card.prose-card-js
                  img(src="assets/img/ukr/img-6.svg",alt="img").march-card__img  
                  .march-section-cards__block
                    p.march-card__title--ukr  З днем Перемоги
                    button.btn(type='button'  href="!#").march-card__button._grad-6 Перейти  
                  
                li.march-section-cards__card.march-card.prose-card-js
                  img(src="assets/img/ukr/img-4.svg",alt="img").march-card__img  
                  .march-section-cards__block
                    p.march-card__title--ukr  З днем Конституції
                    button.btn(type='button'  href="!#").march-card__button._grad-7 Перейти 
                  

                li.march-section-cards__card.march-card.prose-card-js
                  img(src="assets/img/ukr/img-3.svg",alt="img").march-card__img  
                  .march-section-cards__block
                    p.march-card__title--ukr  З днем Незалежності
                    button.btn(type='button'  href="!#").march-card__button._grad-8 Перейти 
                  

                li.march-section-cards__card.march-card.prose-card-js
                  img(src="assets/img/ukr/img-5.svg",alt="img").march-card__img  
                  .march-section-cards__block
                    p.march-card__title--ukr  З днем студентів
                    button.btn(type='button'  href="!#").march-card__button._grad-9 Перейти 
                
            button.btn.btn--success.btn--success-icon.home-section__button--friend.friend-js(type='button' tabindex='-1')
                    span Показати більше
                    i.icon-chevron-down
        

        
        section.march__section.march-section.march__section--ukr
              .title-1
                h2 Всі свята
              .search__transfer.search__transfer--names.search-transfer.search__transfer--ukr
                .search-transfer__input
                  input(type="text"  id="demoInput"   placeholder="Пошук серед 44 свят")
                  i.icon-search             
              .march-section__inner#demoList
                ul.march-section__block.march-section-block
                    .title-1.march-section-block__title-1
                      h2 Загальні свята
                    ul.march-section-block__list
                      li.march-section-block__item  Привітання з  <a href="#!"  class="_red"> 8 березня </a> 
                      li.march-section-block__item  Привітання з  <a href="#!"  class="_red"> Днем знань </a> 
                      li.march-section-block__item  Привітання з  <a href="#!"  class="_red"> Днем незалежності України </a> 
                      li.march-section-block__item  Привітання з  <a href="#!"  class="_red"> Днем св. Валентина </a> 
       
        
                ul.march-section__block.march-section-block
                    .title-1.march-section-block__title-1
                      h2 Релігійні свята
                    ul.march-section-block__list
                      li.march-section-block__item  Вітання з Днем  <a href="#!"  class="_red"> св. Миколая для дітей та дорослих</a> 
                      li.march-section-block__item  Привітання з  <a href="#!"  class="_red"> Великоднем </a> 
                      li.march-section-block__item  Привітання з  <a href="#!"  class="_red"> Водохрещі </a> 

                ul.march-section__block.march-section-block
                    .title-1.march-section-block__title-1
                      h2 Професійні свята
                    ul.march-section-block__list
                      li.march-section-block__item  Привітання з  <a href="#!"  class="_red"> автомобіліста </a> 
                      li.march-section-block__item  Привітання з  <a href="#!"  class="_red"> будівельникаь </a> 
                      li.march-section-block__item  Привітання з  <a href="#!"  class="_red"> бухгалтера </a> 
                      li.march-section-block__item  Привітання з  <a href="#!"  class="_red"> вихователя </a> 
        
        include ./includes/march-connect
