//- //////////////////Привітання з Днем народження для всіх!////////////////////////////////////////////////////////////
main#common.search.home-section.march
    .container
      .march__body
        .title-1.march__title 
          h1 Привітання з Днем народження для всіх!
        .march__soc.march-connect
          include ./includes/soc-aside

        nav.march__nav.march-nav
            ul.march-nav__block
              li.march-nav__item
                a(href="!#").btn.btn--march.btn--march_first  з ювілеєм
              li.march-nav__item
                a(href="!#").btn.btn--march.btn--march_first  простими словами
              li.march-nav__item
                a(href="!#").btn.btn--march.btn--march_first  в прозі
              li.march-nav__item
                a(href="!#").btn.btn--march.btn--march_first  в віршах
              li.march-nav__item
                a(href="!#").btn.btn--march.btn--march_first  по іменах
              li.march-nav__item
                a(href="!#").btn.btn--march.btn--march_first  короткі
              li.march-nav__item._hidden
                a(href="!#").btn.btn--march.btn--march_first  прикольні
              li.march-nav__item._hidden
                a(href="!#").btn.btn--march.btn--march_first  колезі

            ul.march-nav__block
              li.march-nav__item
                a(href="!#").btn.btn--march  мамі
              li.march-nav__item
                a(href="!#").btn.btn--march  бабусі
              li.march-nav__item
                a(href="!#").btn.btn--march  дружині
              li.march-nav__item
                a(href="!#").btn.btn--march  коханій
              li.march-nav__item
                a(href="!#").btn.btn--march  жінці
              li.march-nav__item
                a(href="!#").btn.btn--march  сестрі
              li.march-nav__item
                a(href="!#").btn.btn--march  тещі
              li.march-nav__item
                a(href="!#").btn.btn--march  тітці
              li.march-nav__item._hidden
                a(href="!#").btn.btn--march  племінниці
              li.march-nav__item._hidden
                a(href="!#").btn.btn--march  кумі
              li.march-nav__item._hidden
                a(href="!#").btn.btn--march  свасі
              li.march-nav__item._hidden
                a(href="!#").btn.btn--march  невістці
              li.march-nav__item._hidden
                a(href="!#").btn.btn--march  свекрухи
              li.march-nav__item._hidden
                a(href="!#").btn.btn--march  подрузі

            ul.march-nav__block
              li.march-nav__item
                a(href="!#").btn.btn--march  татові
              li.march-nav__item
                a(href="!#").btn.btn--march  синові
              li.march-nav__item
                a(href="!#").btn.btn--march  дідусеві
              li.march-nav__item
                a(href="!#").btn.btn--march  чоловіка
              li.march-nav__item
                a(href="!#").btn.btn--march  другу
              li.march-nav__item
                a(href="!#").btn.btn--march  коханому
              li.march-nav__item._hidden
                a(href="!#").btn.btn--march  дядькові
              li.march-nav__item._hidden
                a(href="!#").btn.btn--march  онуку
              li.march-nav__item._hidden
                a(href="!#").btn.btn--march  племінника
              li.march-nav__item._hidden
                a(href="!#").btn.btn--march  куму
              li.march-nav__item._hidden
                a(href="!#").btn.btn--march  зятю
              li.march-nav__item._hidden
                a(href="!#").btn.btn--march  тестю
              li.march-nav__item._hidden
                a(href="!#").btn.btn--march  свату
              li.march-nav__item._hidden
                a(href="!#").btn.btn--march  свекру
            button.march-nav__button(type='button') 
              span Показати все
              i.icon-chevron-down
                
        .search__transfer.search-transfer
          .search-transfer__title.title-1 
            h2  Переходьте на потрібний розділ
            button.btn.search-transfer__button(type='button' tabindex='-1')
              span Показати все
              i.icon-chevron-down

          ul.search-transfer__links.search-transfer-links                 
            li.search-transfer-links__item
              a.search-transfer-links__link(href="#prose")
                img(src="assets/img/march/star.svg",alt="img") 
                span Привітання в прозі своїми словами 
            li.search-transfer-links__item
              a.search-transfer-links__link(href="#birthday")
                img(src="assets/img/march/star.svg",alt="img") 
                span Короткі вітання на день народження
            li.search-transfer-links__item
              a.search-transfer-links__link(href="#poems")
                img(src="assets/img/march/star.svg",alt="img") 
                span Привітання з днем народження простими словами
            li.search-transfer-links__item
              a.search-transfer-links__link(href="#short")
                img(src="assets/img/march/star.svg",alt="img") 
                span Прикольні поздоровлення до дня народження 
            li.search-transfer-links__item
              a.search-transfer-links__link(href="#funy")
                img(src="assets/img/march/star.svg",alt="img") 
                span З днем народження у віршах 





        
        section#prose.march__section.prose
            .title-1
              h2  Привітання в прозі своїми словами
            .march__images.march-images
              .march-images__image(style="background-image: url('assets/img/march/img-1.webp')")
              .march-images__image(style="background-image: url('assets/img/march/img-2.webp')")

            ul.march__cards.march-cards
                li.march-cards__card.search-cards-card.search-cards-card--march.path(style='background: white;')
                    .march-cards__card__body.random-color
                      .search-cards-card__title.search-cards-card__title--birthday.copytext
                        img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top(src='assets/img/home/divider.svg' alt='img')
                        .march-cards__content.carryover  Дорогі жінки, дівчата!Наші рідні і красиві!Кращого немає свята,Аніж те, що прийшло нині!Це для вас сніги розтали,Це для вас прийшла весна.Ви собою полонилиНаші душі і серця.Тож лишайтесь завжди милі,Ніжні, щирі, чарівні,розумні, і вродливі,І веселі, і прості! 
                        img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom(src='assets/img/home/divider.svg' alt='img')
                li.march-cards__card.search-cards-card.search-cards-card--march.path(style='background: white;')
                    .march-cards__card__body.random-color
                      .search-cards-card__title.search-cards-card__title--birthday.copytext
                        img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top(src='assets/img/home/divider.svg' alt='img')
                        .march-cards__content.carryover  Шлють тобі палкі привітиБерезневі первоцвітиІ небес ясна блакитьВ сурми радісно сурмить!У цей день – усе для тебе:Сонце, хмарки, вітер, небо…Й первоцвіти голубі день жіночий цей – тобі! 
                        img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom(src='assets/img/home/divider.svg' alt='img')
                li.march-cards__card.search-cards-card.search-cards-card--march.path(style='background: white;')
                    .march-cards__card__body.random-color
                      .search-cards-card__title.search-cards-card__title--birthday.copytext
                        img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top(src='assets/img/home/divider.svg' alt='img')
                        .march-cards__content  Вітаю з 8 Березня і хочу побажати розкішного життя, казкового щастя, незліченного багатства, запаморочливої любові, незгасаючої краси і вічної чарівності. 
                        img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom(src='assets/img/home/divider.svg' alt='img')
                li.march-cards__card.search-cards-card.search-cards-card--march.path(style='background: white;')
                    .march-cards__card__body.random-color
                      .search-cards-card__title.search-cards-card__title--birthday.copytext
                        img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top(src='assets/img/home/divider.svg' alt='img')
                        .march-cards__content.carryover  Усміхніться! Тане сніг,Щастя падає до ніг,Нині ваш весняний деньКвітів, сонця і пісень!Хай теплом зігріє вінДружби радісні хвилини,Принесе як дар любов,Усміхайтесь знов і знов!
                        img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom(src='assets/img/home/divider.svg' alt='img')
                li.march-cards__card.search-cards-card.search-cards-card--march.path(style='background: white;')
                    .march-cards__card__body.random-color
                      .search-cards-card__title.search-cards-card__title--birthday.copytext
                        img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top(src='assets/img/home/divider.svg' alt='img')
                        .march-cards__content.carryover  Нев’янучої вроди, чудес і насолоди,Жіночих чар, дзвінких прикрас!Із березнем, з весною Вас! 
                        img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom(src='assets/img/home/divider.svg' alt='img')
                li.march-cards__card.search-cards-card.search-cards-card--march.path.prose-card-js(style='background: white;')
                    .march-cards__card__body.random-color
                      .search-cards-card__title.search-cards-card__title--birthday.copytext
                        img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top(src='assets/img/home/divider.svg' alt='img')
                        .march-cards__content.carryover  Хай навкруги цвіте бузок,Та небо буде ясним;І щоб життя було в жінокЩасливим і прекрасним.Аби завжди в душі у васГорів вогонь кохання;І хай у цей весняний часЗдійсняться всі бажання. 
                        img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom(src='assets/img/home/divider.svg' alt='img')
                li.march-cards__card.search-cards-card.search-cards-card--march.path.prose-card-js(style='background: white;')
                    .march-cards__card__body.random-color
                      .search-cards-card__title.search-cards-card__title--birthday.copytext
                        img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top(src='assets/img/home/divider.svg' alt='img')
                        .march-cards__content  У цей чарівний жіночий день вітаю тебе зі святом 8 березня! Бажаю тепла, радості та оптимізму в кожному дні. Нехай твоя краса ніколи не проходить, нехай в душі завжди панує вічна весна, а на обличчі сяє сонячна усмішка і зігріває всіх ніжними променями. 
                        img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom(src='assets/img/home/divider.svg' alt='img')
                li.march-cards__card.search-cards-card.search-cards-card--march.path.prose-card-js(style='background: white;')
                    .march-cards__card__body.random-color
                      .search-cards-card__title.search-cards-card__title--birthday.copytext
                        img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top(src='assets/img/home/divider.svg' alt='img')
                        .march-cards__content  Дозвольте вас привітати зі святом весни, краси і любові – з 8 березням! Нехай сьогодні ваша душа до країв наповниться світлом,теплом і радістю від щирих побажань, ніжних квітів, приємних подарунків! Нехай ластівки зів’ють гнізда над вашими вікнами і принесуть у ваш дім     благополуччя і взаєморозуміння, а перші промені весняного сонечка вкажуть на щасливу стежку вашій долі! 
                        img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom(src='assets/img/home/divider.svg' alt='img')
                li.march-cards__card.search-cards-card.search-cards-card--march.path.prose-card-js(style='background: white;')
                    .march-cards__card__body.random-color
                      .search-cards-card__title.search-cards-card__title--birthday.copytext
                        img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top(src='assets/img/home/divider.svg' alt='img')
                        .march-cards__content.carryover  Хай навкруги цвіте бузок,Та небо буде ясним;І щоб життя було в жінокЩасливим і прекрасним.Аби завжди в душі у васГорів вогонь кохання;І хай у цей весняний часЗдійсняться всі бажання. 
                        img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom(src='assets/img/home/divider.svg' alt='img')
                li.march-cards__card.search-cards-card.search-cards-card--march.path.prose-card-js(style='background: white;')
                    .march-cards__card__body.random-color
                      .search-cards-card__title.search-cards-card__title--birthday.copytext
                        img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top(src='assets/img/home/divider.svg' alt='img')
                        .march-cards__content  У цей чарівний жіночий день вітаю тебе зі святом 8 березня! Бажаю тепла, радості та оптимізму в кожному дні. Нехай твоя краса ніколи не проходить, нехай в душі завжди панує вічна весна, а на обличчі сяє сонячна усмішка і зігріває всіх ніжними променями. 
                        img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom(src='assets/img/home/divider.svg' alt='img')
                li.march-cards__card.search-cards-card.search-cards-card--march.path.prose-card-js(style='background: white;')
                    .march-cards__card__body.random-color
                      .search-cards-card__title.search-cards-card__title--birthday.copytext
                        img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top(src='assets/img/home/divider.svg' alt='img')
                        .march-cards__content  Дозвольте вас привітати зі святом весни, краси і любові – з 8 березням! Нехай сьогодні ваша душа до країв наповниться світлом,теплом і радістю від щирих побажань, ніжних квітів, приємних подарунків! Нехай ластівки зів’ють гнізда над вашими вікнами і принесуть у ваш дім     благополуччя і взаєморозуміння, а перші промені весняного сонечка вкажуть на щасливу стежку вашій долі! 
                        img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom(src='assets/img/home/divider.svg' alt='img')


            button.btn.home-section__button.home-section__button--popular.prose-js(type='button')
              span Більше привітань
              .button-helper.button-helper--popular
        
        section#birthday.march__section
              .title-1
                h2 Привітання з днем народження простими словами
              .march__images.march-images
                  .march-images__image(style="background-image: url('assets/img/march/img-3.webp')")
                  .march-images__image(style="background-image: url('assets/img/march/img-4.webp')")
              ul.march__cards.march-cards
                  li.march-cards__card.search-cards-card.search-cards-card--march.path(style='background: white;')
                      .march-cards__card__body.random-color
                        .search-cards-card__title.search-cards-card__title--birthday.copytext
                          img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top(src='assets/img/home/divider.svg' alt='img')
                          .march-cards__content.carryover  Дорогі жінки, дівчата!Наші рідні і красиві!Кращого немає свята,Аніж те, що прийшло нині!Це для вас сніги розтали,Це для вас прийшла весна.Ви  собою полонилиНаші душі і серця.Тож лишайтесь завжди милі,Ніжні, щирі, чарівні,розумні, і вродливі,І веселі, і прості! 
                          img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom(src='assets/img/home/divider.svg' alt='img')
                  li.march-cards__card.search-cards-card.search-cards-card--march.path.prose-card-js(style='background: white;')
                      .march-cards__card__body.random-color
                        .search-cards-card__title.search-cards-card__title--birthday.copytext
                          img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top(src='assets/img/home/divider.svg' alt='img')
                          .march-cards__content.carryover  Шлють тобі палкі привітиБерезневі первоцвітиІ небес ясна блакитьВ сурми радісно сурмить!У цей день – усе для тебе:Сонце, хмарки, вітер, небо…Й первоцвіти голубі день жіночий цей – тобі! 
                          img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom(src='assets/img/home/divider.svg' alt='img')
                  li.march-cards__card.search-cards-card.search-cards-card--march.path(style='background: white;')
                      .march-cards__card__body.random-color
                        .search-cards-card__title.search-cards-card__title--birthday.copytext
                          img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top(src='assets/img/home/divider.svg' alt='img')
                          .march-cards__content  Вітаю з 8 Березня і хочу побажати розкішного життя, казкового щастя, незліченного багатства, запаморочливої любові, незгасаючої краси і вічної чарівності. 
                          img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom(src='assets/img/home/divider.svg' alt='img')
                  li.march-cards__card.search-cards-card.search-cards-card--march.path(style='background: white;')
                      .march-cards__card__body.random-color
                        .search-cards-card__title.search-cards-card__title--birthday.copytext
                          img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top(src='assets/img/home/divider.svg' alt='img')
                          .march-cards__content.carryover  Усміхніться! Тане сніг,Щастя падає до ніг,Нині ваш весняний деньКвітів, сонця і пісень!Хай теплом зігріє вінДружби радісні хвилини,Принесе як дар  любов,Усміхайтесь знов і знов!
                          img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom(src='assets/img/home/divider.svg' alt='img')
                  li.march-cards__card.search-cards-card.search-cards-card--march.path.prose-card-js(style='background: white;')
                      .march-cards__card__body.random-color
                        .search-cards-card__title.search-cards-card__title--birthday.copytext
                          img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top(src='assets/img/home/divider.svg' alt='img')
                          .march-cards__content.carryover  Нев’янучої вроди, чудес і насолоди,Жіночих чар, дзвінких прикрас!Із березнем, з весною Вас! 
                          img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom(src='assets/img/home/divider.svg' alt='img')
                  li.march-cards__card.search-cards-card.search-cards-card--march.path.prose-card-js(style='background: white;')
                      .march-cards__card__body.random-color
                        .search-cards-card__title.search-cards-card__title--birthday.copytext
                          img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top(src='assets/img/home/divider.svg' alt='img')
                          .march-cards__content.carryover  Хай навкруги цвіте бузок,Та небо буде ясним;І щоб життя було в жінокЩасливим і прекрасним.Аби завжди в душі у васГорів вогонь кохання;І хай у цей  весняний часЗдійсняться всі бажання. 
                          img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom(src='assets/img/home/divider.svg' alt='img')
                  li.march-cards__card.search-cards-card.search-cards-card--march.path.prose-card-js(style='background: white;')
                      .march-cards__card__body.random-color
                        .search-cards-card__title.search-cards-card__title--birthday.copytext
                          img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top(src='assets/img/home/divider.svg' alt='img')
                          .march-cards__content  У цей чарівний жіночий день вітаю тебе зі святом 8 березня! Бажаю тепла, радості та оптимізму в кожному дні. Нехай твоя краса ніколи не проходить, нехай в  душі завжди панує вічна весна, а на обличчі сяє сонячна усмішка і зігріває всіх ніжними променями. 
                          img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom(src='assets/img/home/divider.svg' alt='img')
                  li.march-cards__card.search-cards-card.search-cards-card--march.path.prose-card-js(style='background: white;')
                      .march-cards__card__body.random-color
                        .search-cards-card__title.search-cards-card__title--birthday.copytext
                          img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top(src='assets/img/home/divider.svg' alt='img')
                          .march-cards__content  Дозвольте вас привітати зі святом весни, краси і любові – з 8 березням! Нехай сьогодні ваша душа до країв наповниться світлом, теплом і радістю від щирих  побажань, ніжних квітів, приємних подарунків! Нехай ластівки зів’ють гнізда над вашими вікнами і принесуть у ваш дім благополуччя і взаєморозуміння, а перші промені весняного  сонечка вкажуть на щасливу стежку вашій долі! 
                          img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom(src='assets/img/home/divider.svg' alt='img')
              button.btn.home-section__button.home-section__button--popular.prose-js(type='button')
                span Більше привітань
                .button-helper.button-helper--popular
        
        section#poems.march__section      
              .title-1
                h2 З днем народження у віршах
              .march__images.march-images
                  .march-images__image(style="background-image: url('assets/img/march/img-3.webp')")
                  .march-images__image(style="background-image: url('assets/img/march/img-4.webp')")
              
              ul.march__cards.march-cards
                  li.march-cards__card.search-cards-card.search-cards-card--march.path(style='background: white;')
                      .march-cards__card__body.random-color
                        .search-cards-card__title.search-cards-card__title--birthday.copytext
                          img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top(src='assets/img/home/divider.svg' alt='img')
                          .march-cards__content.carryover  Дорогі жінки, дівчата!Наші рідні і красиві!Кращого немає свята,Аніж те, що прийшло нині!Це для вас сніги розтали,Це для вас прийшла весна.Ви  собою полонилиНаші душі і серця.Тож лишайтесь завжди милі,Ніжні, щирі, чарівні,розумні, і вродливі,І веселі, і прості! 
                          img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom(src='assets/img/home/divider.svg' alt='img')
                  li.march-cards__card.search-cards-card.search-cards-card--march.path(style='background: white;')
                      .march-cards__card__body.random-color
                        .search-cards-card__title.search-cards-card__title--birthday.copytext
                          img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top(src='assets/img/home/divider.svg' alt='img')
                          .march-cards__content.carryover  Шлють тобі палкі привітиБерезневі первоцвітиІ небес ясна блакитьВ сурми радісно сурмить!У цей день – усе для тебе:Сонце, хмарки, вітер, небо…Й  первоцвіти голубі день жіночий цей – тобі! 
                          img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom(src='assets/img/home/divider.svg' alt='img')
                  li.march-cards__card.search-cards-card.search-cards-card--march.path.prose-card-js(style='background: white;')
                      .march-cards__card__body.random-color
                        .search-cards-card__title.search-cards-card__title--birthday.copytext
                          img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top(src='assets/img/home/divider.svg' alt='img')
                          .march-cards__content  Вітаю з 8 Березня і хочу побажати розкішного життя, казкового щастя, незліченного багатства, запаморочливої любові, незгасаючої краси і вічної чарівності. 
                          img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom(src='assets/img/home/divider.svg' alt='img')
                  li.march-cards__card.search-cards-card.search-cards-card--march.path.prose-card-js(style='background: white;')
                      .march-cards__card__body.random-color
                        .search-cards-card__title.search-cards-card__title--birthday.copytext
                          img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top(src='assets/img/home/divider.svg' alt='img')
                          .march-cards__content.carryover  Усміхніться! Тане сніг,Щастя падає до ніг,Нині ваш весняний деньКвітів, сонця і пісень!Хай теплом зігріє вінДружби радісні хвилини,Принесе як дар любов,Усміхайтесь знов і знов!
                          img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom(src='assets/img/home/divider.svg' alt='img')
                  li.march-cards__card.search-cards-card.search-cards-card--march.path(style='background: white;')
                      .march-cards__card__body.random-color
                        .search-cards-card__title.search-cards-card__title--birthday.copytext
                          img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top(src='assets/img/home/divider.svg' alt='img')
                          .march-cards__content.carryover  Нев’янучої вроди, чудес і насолоди,Жіночих чар, дзвінких прикрас!Із березнем, з весною Вас! 
                          img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom(src='assets/img/home/divider.svg' alt='img')
                  li.march-cards__card.search-cards-card.search-cards-card--march.path.prose-card-js(style='background: white;')
                      .march-cards__card__body.random-color
                        .search-cards-card__title.search-cards-card__title--birthday.copytext
                          img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top(src='assets/img/home/divider.svg' alt='img')
                          .march-cards__content.carryover  Хай навкруги цвіте бузок,Та небо буде ясним;І щоб життя було в жінокЩасливим і прекрасним.Аби завжди в душі у васГорів вогонь кохання;І хай у цей весняний часЗдійсняться всі бажання. 
                          img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom(src='assets/img/home/divider.svg' alt='img')
                  li.march-cards__card.search-cards-card.search-cards-card--march.path.prose-card-js(style='background: white;')
                      .march-cards__card__body.random-color
                        .search-cards-card__title.search-cards-card__title--birthday.copytext
                          img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top(src='assets/img/home/divider.svg' alt='img')
                          .march-cards__content  У цей чарівний жіночий день вітаю тебе зі святом 8 березня! Бажаю тепла, радості та оптимізму в кожному дні. Нехай твоя краса ніколи не проходить, нехай в  душі завжди панує вічна весна, а на обличчі сяє сонячна усмішка і зігріває всіх ніжними променями. 
                          img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom(src='assets/img/home/divider.svg' alt='img')
                  li.march-cards__card.search-cards-card.search-cards-card--march.path(style='background: white;')
                      .march-cards__card__body.random-color
                        .search-cards-card__title.search-cards-card__title--birthday.copytext
                          img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top(src='assets/img/home/divider.svg' alt='img')
                          .march-cards__content  Дозвольте вас привітати зі святом весни, краси і любові – з 8 березням! Нехай сьогодні ваша душа до країв наповниться світлом, теплом і радістю від щирих  побажань, ніжних квітів, приємних подарунків! Нехай ластівки зів’ють гнізда над вашими вікнами і принесуть у ваш дім благополуччя і взаєморозуміння, а перші промені весняного  сонечка вкажуть на щасливу стежку вашій долі! 
                          img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom(src='assets/img/home/divider.svg' alt='img')
              button.btn.home-section__button.home-section__button--popular.prose-js(type='button')
                span Більше привітань
                .button-helper.button-helper--popular
        
        section#short.march__section
              .title-1
                h2 Короткі вітання на день народження
              
              .march__images.march-images
                  .march-images__image(style="background-image: url('assets/img/march/img-1.webp')")
                  .march-images__image(style="background-image: url('assets/img/march/img-2.webp')")
              
              
              ul.march__cards.march-cards
                  li.march-cards__card.search-cards-card.search-cards-card--march.path(style='background: white;')
                      .march-cards__card__body.random-color
                        .search-cards-card__title.search-cards-card__title--birthday.copytext
                          img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top(src='assets/img/home/divider.svg' alt='img')
                          .march-cards__content.carryover  Дорогі жінки, дівчата!Наші рідні і красиві!Кращого немає свята,Аніж те, що прийшло нині!Це для вас сніги розтали,Це для вас прийшла весна.Ви собою полонилиНаші душі і серця.Тож лишайтесь завжди милі,Ніжні, щирі, чарівні,розумні, і вродливі,І веселі, і прості! 
                          img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom(src='assets/img/home/divider.svg' alt='img')
                  li.march-cards__card.search-cards-card.search-cards-card--march.path(style='background: white;')
                      .march-cards__card__body.random-color
                        .search-cards-card__title.search-cards-card__title--birthday.copytext
                          img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top(src='assets/img/home/divider.svg' alt='img')
                          .march-cards__content.carryover  Шлють тобі палкі привітиБерезневі первоцвітиІ небес ясна блакитьВ сурми радісно сурмить!У цей день – усе для тебе:Сонце, хмарки, вітер, небо…Й первоцвіти голубі день жіночий цей – тобі! 
                          img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom(src='assets/img/home/divider.svg' alt='img')
                  li.march-cards__card.search-cards-card.search-cards-card--march.path(style='background: white;')
                      .march-cards__card__body.random-color
                        .search-cards-card__title.search-cards-card__title--birthday.copytext
                          img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top(src='assets/img/home/divider.svg' alt='img')
                          .march-cards__content  Вітаю з 8 Березня і хочу побажати розкішного життя, казкового щастя, незліченного багатства, запаморочливої любові, незгасаючої краси і вічної чарівності. 
                          img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom(src='assets/img/home/divider.svg' alt='img')
                  li.march-cards__card.search-cards-card.search-cards-card--march.path.prose-card-js(style='background: white;')
                      .march-cards__card__body.random-color
                        .search-cards-card__title.search-cards-card__title--birthday.copytext
                          img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top(src='assets/img/home/divider.svg' alt='img')
                          .march-cards__content.carryover  Усміхніться! Тане сніг,Щастя падає до ніг,Нині ваш весняний деньКвітів, сонця і пісень!Хай теплом зігріє вінДружби радісні хвилини,Принесе як дарлюбов,Усміхайтесь знов і знов!
                          img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom(src='assets/img/home/divider.svg' alt='img')
                  li.march-cards__card.search-cards-card.search-cards-card--march.path(style='background: white;')
                      .march-cards__card__body.random-color
                        .search-cards-card__title.search-cards-card__title--birthday.copytext
                          img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top(src='assets/img/home/divider.svg' alt='img')
                          .march-cards__content.carryover  Нев’янучої вроди, чудес і насолоди,Жіночих чар, дзвінких прикрас!Із березнем, з весною Вас! 
                          img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom(src='assets/img/home/divider.svg' alt='img')
                  li.march-cards__card.search-cards-card.search-cards-card--march.path.prose-card-js(style='background: white;')
                      .march-cards__card__body.random-color
                        .search-cards-card__title.search-cards-card__title--birthday.copytext
                          img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top(src='assets/img/home/divider.svg' alt='img')
                          .march-cards__content.carryover  Хай навкруги цвіте бузок,Та небо буде ясним;І щоб життя було в жінокЩасливим і прекрасним.Аби завжди в душі у васГорів вогонь кохання;І хай у цейвесняний часЗдійсняться всі бажання. 
                          img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom(src='assets/img/home/divider.svg' alt='img')
                  li.march-cards__card.search-cards-card.search-cards-card--march.path(style='background: white;')
                      .march-cards__card__body.random-color
                        .search-cards-card__title.search-cards-card__title--birthday.copytext
                          img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top(src='assets/img/home/divider.svg' alt='img')
                          .march-cards__content  У цей чарівний жіночий день вітаю тебе зі святом 8 березня! Бажаю тепла, радості та оптимізму в кожному дні. Нехай твоя краса ніколи не проходить, нехай в душі завжди панує вічна весна, а на обличчі сяє сонячна усмішка і зігріває всіх ніжними променями. 
                          img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom(src='assets/img/home/divider.svg' alt='img')
                  li.march-cards__card.search-cards-card.search-cards-card--march.path(style='background: white;')
                      .march-cards__card__body.random-color
                        .search-cards-card__title.search-cards-card__title--birthday.copytext
                          img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top(src='assets/img/home/divider.svg' alt='img')
                          .march-cards__content  Дозвольте вас привітати зі святом весни, краси і любові – з 8 березням! Нехай сьогодні ваша душа до країв наповниться світлом, теплом і радістю від щирихпобажань, ніжних квітів, приємних подарунків! Нехай ластівки зів’ють гнізда над вашими вікнами і принесуть у ваш дім благополуччя і взаєморозуміння, а перші промені весняногосонечка вкажуть на щасливу стежку вашій долі! 
                          img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom(src='assets/img/home/divider.svg' alt='img')
              button.btn.home-section__button.home-section__button--popular.prose-js(type='button')
                span Більше привітань
                .button-helper.button-helper--popular
        
        section#funy.march__section
            .title-1
                  h2 Прикольні поздоровлення до дня народження
            ul.march__cards.march-cards
                li.march-cards__card.search-cards-card.search-cards-card--march.path(style='background: white;')
                    .march-cards__card__body.random-color
                      .search-cards-card__title.search-cards-card__title--birthday.copytext
                        img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top(src='assets/img/home/divider.svg' alt='img')
                        .march-cards__content.carryover  Дорогі жінки, дівчата!Наші рідні і красиві!Кращого немає свята,Аніж те, що прийшло нині!Це для вас сніги розтали,Це для вас прийшла весна.Ви  собою полонилиНаші душі і серця.Тож лишайтесь завжди милі,Ніжні, щирі, чарівні,розумні, і вродливі,І веселі, і прості! 
                        img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom(src='assets/img/home/divider.svg' alt='img')
                li.march-cards__card.search-cards-card.search-cards-card--march.path(style='background: white;')
                    .march-cards__card__body.random-color
                      .search-cards-card__title.search-cards-card__title--birthday.copytext
                        img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top(src='assets/img/home/divider.svg' alt='img')
                        .march-cards__content.carryover  Шлють тобі палкі привітиБерезневі первоцвітиІ небес ясна блакитьВ сурми радісно сурмить!У цей день – усе для тебе:Сонце, хмарки, вітер, небо…Й  первоцвіти голубі день жіночий цей – тобі! 
                        img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom(src='assets/img/home/divider.svg' alt='img')
                li.march-cards__card.search-cards-card.search-cards-card--march.path(style='background: white;')
                    .march-cards__card__body.random-color
                      .search-cards-card__title.search-cards-card__title--birthday.copytext
                        img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top(src='assets/img/home/divider.svg' alt='img')
                        .march-cards__content  Вітаю з 8 Березня і хочу побажати розкішного життя, казкового щастя, незліченного багатства, запаморочливої любові, незгасаючої краси і вічної чарівності. 
                        img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom(src='assets/img/home/divider.svg' alt='img')
                li.march-cards__card.search-cards-card.search-cards-card--march.path.prose-card-js(style='background: white;')
                    .march-cards__card__body.random-color
                      .search-cards-card__title.search-cards-card__title--birthday.copytext
                        img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top(src='assets/img/home/divider.svg' alt='img')
                        .march-cards__content.carryover  Усміхніться! Тане сніг,Щастя падає до ніг,Нині ваш весняний деньКвітів, сонця і пісень!Хай теплом зігріє вінДружби радісні хвилини,Принесе як дар любов,Усміхайтесь знов і знов!
                        img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom(src='assets/img/home/divider.svg' alt='img')
                li.march-cards__card.search-cards-card.search-cards-card--march.path.prose-card-js(style='background: white;')
                    .march-cards__card__body.random-color
                      .search-cards-card__title.search-cards-card__title--birthday.copytext
                        img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top(src='assets/img/home/divider.svg' alt='img')
                        .march-cards__content.carryover  Нев’янучої вроди, чудес і насолоди,Жіночих чар, дзвінких прикрас!Із березнем, з весною Вас! 
                        img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom(src='assets/img/home/divider.svg' alt='img')
                li.march-cards__card.search-cards-card.search-cards-card--march.path.prose-card-js(style='background: white;')
                    .march-cards__card__body.random-color
                      .search-cards-card__title.search-cards-card__title--birthday.copytext
                        img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top(src='assets/img/home/divider.svg' alt='img')
                        .march-cards__content.carryover  Хай навкруги цвіте бузок,Та небо буде ясним;І щоб життя було в жінокЩасливим і прекрасним.Аби завжди в душі у васГорів вогонь кохання;І хай у цей весняний часЗдійсняться всі бажання. 
                        img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom(src='assets/img/home/divider.svg' alt='img')
                li.march-cards__card.search-cards-card.search-cards-card--march.path.prose-card-js(style='background: white;')
                    .march-cards__card__body.random-color
                      .search-cards-card__title.search-cards-card__title--birthday.copytext
                        img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top(src='assets/img/home/divider.svg' alt='img')
                        .march-cards__content  У цей чарівний жіночий день вітаю тебе зі святом 8 березня! Бажаю тепла, радості та оптимізму в кожному дні. Нехай твоя краса ніколи не проходить, нехай в  душі завжди панує вічна весна, а на обличчі сяє сонячна усмішка і зігріває всіх ніжними променями. 
                        img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom(src='assets/img/home/divider.svg' alt='img')
                li.march-cards__card.search-cards-card.search-cards-card--march.path(style='background: white;')
                    .march-cards__card__body.random-color
                      .search-cards-card__title.search-cards-card__title--birthday.copytext
                        img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top(src='assets/img/home/divider.svg' alt='img')
                        .march-cards__content  Дозвольте вас привітати зі святом весни, краси і любові – з 8 березням! Нехай сьогодні ваша душа до країв наповниться світлом, теплом і радістю від щирих побажань, ніжних квітів, приємних подарунків! Нехай ластівки зів’ють гнізда над вашими вікнами і принесуть у ваш дім благополуччя і взаєморозуміння, а перші промені весняного сонечка вкажуть на щасливу стежку вашій долі! 
                        img.search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom(src='assets/img/home/divider.svg' alt='img')
            button.btn.home-section__button.home-section__button--popular.prose-js(type='button')
              span Більше привітань
              .button-helper.button-helper--popular
        
        include ./includes/march-connect