footer#footer.footer
    .container
      .footer__body
        .footer__item.footer-item
          a(href="#!").footer-item__logo 
            img(src="assets/img/home/logo-small.svg",alt="img")
          .footer-item__point.info
            .info__language.info__language--footer
              img(src="assets/img/home/ru-flag.webp",alt="img")
              span Русский
          a(href="#!").footer-item__point.footer-item__point--top Карта сайта
          a(href="#!").footer-item__point.footer-item__point--top Контакты

        .footer__item.footer-item
          a(href="#!").footer-item__title С Днём рождения
          a(href="#!").footer-item__point Маме
          a(href="#!").footer-item__point Папе
          a(href="#!").footer-item__point Брату / Сестре
          a(href="#!").footer-item__point Другу / Подруге
          a(href="#!").footer-item__point Мужу / Жене
          a(href="#!").footer-item__point В стихах
          a(href="#!").footer-item__point В прозе
        .footer__item.footer-item
          a(href="#!").footer-item__title С Праздниками
          a(href="#!").footer-item__point Новым годом
          a(href="#!").footer-item__point 8-е марта
          a(href="#!").footer-item__point 23-е февраля
          a(href="#!").footer-item__point Святого Валентина
          a(href="#!").footer-item__point 1-е сенятбря
          a(href="#!").footer-item__point Пасха
          a(href="#!").footer-item__point Рождество
        .footer__item.footer-item
          a(href="#!").footer-item__title Открытки и картинки
          a(href="#!").footer-item__point Рождество
          a(href="#!").footer-item__point 23-е февраля
          a(href="#!").footer-item__point Святого Валентина
          a(href="#!").footer-item__point 8-е марта
          a(href="#!").footer-item__point Пасха
          a(href="#!").footer-item__point 1-е сенятбря
          a(href="#!").footer-item__point Новым годом
        .footer__item.footer-item
          a(href="#!").footer-item__title Музыкальные и голосовые
          a(href="#!").footer-item__point По именам
          a(href="#!").footer-item__point Прикольные
          a(href="#!").footer-item__point Мужчине
          a(href="#!").footer-item__point Женщине
          a(href="#!").footer-item__point ТОП-100
          a(href="#!").footer-item__point Бабушке
          a(href="#!").footer-item__point Дедушке


