
  
  
  

  
.search-cards__card 
  border-radius: 3px
  transition: background 0.2s ease-in-out
  
  




.search-cards-card
  // height: 190px
  // width: 170px
  border-radius: 3px
  box-shadow: 0 0 20px 0 rgba(34, 34, 34, 0.12)
  background-color: $white
  text-align: center
  // padding: 20px 16px 20px
  // +fdc
  +alic
  +jucc		
  position: relative
  padding: 0 0 0 0	
  &:hover
    cursor: pointer
  @media (max-width: 1000px)
    // padding: 25px 16px 25px
    // flex-wrap: nowrap
    padding: 0 0 0 0	
    +fdc
    font-size: 14px



.search-cards-card__title
  font-size: 16px
  font-weight: normal
  font-stretch: normal
  font-style: normal
  line-height: 1.5
  +alic
  +fdc
  flex-wrap: nowrap
 
//-------------




.search-cards-card__link
  +pro
  +fdc
  +jucb
  +alic
  

.search-cards-card__img--birthday
  width:40px
  height:12px
  @media (max-width: 1000px)
    width:40px
    height:12px
.search-cards-card__img--birthday-top
  margin: 0 auto 15px auto
.search-cards-card__img--birthday-bottom
  margin: 15px auto 0 auto



.search-cards-card__title--birthday 
  width: 100% !important
  @media (max-width: 1000px)
    margin: 0 0 0 0
    display: block
    font-size: 14px



.search-cards-card__title--drop
  width:100%
  display: none
  @media (max-width: 1000px)
    display: block
    font-size: 14px

.search-cards-card__add
  +bg(white)
  box-shadow: 0px -25px 15px -10px #fff
  padding: 9px 0 0 0
  font-size: 14px
  font-weight: normal
  letter-spacing: normal
  text-align: center
  color: #5fcef5
  +absolute(100%,60px,auto,0,auto,0%,0%)
  bottom :0
  transition: all 0.2s ease-in-out


.search-cards-card__text
  padding: 0 40px
  text-align: left

.search-cards-card__add--toast
  color: #f77424


._hidden-card
  @media (max-width: 1000px)
    margin-top: 0!important


.search-cards-hidden
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  +pro