
  
//------.home-section--------
.home-section
  // +bg()
  // +background-img("/../assets/img/article-1/img-5.webp")
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  margin: 0 0 100px 0
  &:not(&:first-of-type)
    margin: 0 0 42px 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  // display: grid
  // grid-template-columns:
  // grid-template-rows:
  // grid-template-areas:
  // grid-area:
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
  
  
  

// ========================
//------.search--------
.search
  // +bg()
  // +background-img("/../assets/img/article-1/img-5.webp")
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  // display: grid
  // grid-template-columns:
  // grid-template-rows:
  // grid-template-areas:
  // grid-area:
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
  
  
  
  
  
  
  
  
  
  
  
  //-------------
.search__cards
  // +bg()
  // +background-img("/../assets/img/article-1/img-5.webp")
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  margin: 35px 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  // display: grid
  // grid-template-columns:
  // grid-template-rows:
  // grid-template-areas:
  // grid-area:
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
.search-cards
  // +bg()
  // +background-img("/../assets/img/article-1/img-5.webp")
  // +alic
  // +jucs
  +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  // display: grid
  // grid-template-columns:
  // grid-template-rows:
  // grid-template-areas:
  // grid-area:
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------

.search-cards__card
  
.search-cards-card
  width: 170px
  height: 190px
  border-radius: 3px7
  box-shadow: 0 0 20px 0 rgba(34, 34, 34, 0.12)
  background-color: $white
  text-align: center
  padding: 20px 16px 0px
  +fdc
  +jucb
  +alic
  position: relative
  
.search-cards-card__img
  width: 72px
  height: 72px
.search-cards-card__title
  font-size: 16px
  font-weight: normal
  font-stretch: normal
  font-style: normal
  line-height: 1.5
  min-height: 22%
  margin: 0 0 25px
//------.search-cards__card--birthday--------
.search-cards__card--birthday
  height: auto
  min-height: 312px
  width:  31.67%
  overflow: hidden
  display: table
  // text-wrap: nowrap
  // margin: 0 0 0 0
  padding: 33px 0
  // position: relative
  // display: none
  // display: flex
  // display: grid
  border-radius: 3px
  box-shadow: 0 0 20px 0 rgba(34, 34, 34, 0.12)
  background-color: $white

  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.search-cards-card__img--birthday--------
.search-cards-card__img--birthday
  // +bg()
  // +background-img("/../assets/img/article-1/img-5.webp")
  // +alic
  // +jucs
  // +jucb
  width:40px
  height:12px
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  // display: grid
  // grid-template-columns:
  // grid-template-rows:
  // grid-template-areas:
  // grid-area:
    
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
.search-cards-card__img--birthday-top
  margin: 0 0 10px 0
.search-cards-card__img--birthday-bottom
  margin: 10px 0 0 0

//-------------
//------.search-cards-card__title--------
.search-cards-card__title
  // width: 100%

    // padding: 0 0 0 0
//-------------
//------.search-cards-card__title--birthday --------
.search-cards-card__title--birthday 
  // +bg()
  // +background-img("/../assets/img/article-1/img-5.webp")
  // +alic
  // +jucs
  // +jucb
  width: 100% !important
  // height:
  // flex: 0 1 100%
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  display: table-cell
  vertical-align: middle
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.search-cards-card__title--drop--------
.search-cards-card__title--drop
  // +bg()
  // +background-img("/../assets/img/article-1/img-5.webp")
  // +alic
  // +jucs
  // +jucb
  width:100%
  display: block
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  // display: grid
  // grid-template-columns:
  // grid-template-rows:
  // grid-template-areas:
  // grid-area:
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.search-cards-card__add--------
.search-cards-card__add
  +bg(white)
  // +background-img("/../assets/img/article-1/img-5.webp")
  // +alic
  // +jucs
  // +jucb
  // width:100%
  // height:60px
  // flex: 0 1 100%
  +center
  box-shadow: 0px 0px 50px rgba(255, 255, 255,1)

  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  font-size: 14px
  font-weight: normal
  letter-spacing: normal
  text-align: center
  color: #5fcef5
  +absolute(100%,80px,auto,0,auto,0%,0%)
  bottom :0
  &:hover
    cursor: pointer
    color: #5fcef5

  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.home-section__button--------
.home-section__button
  width: 261px
  height: 59px
  border-radius: 100px
  background: linear-gradient(to top, #5b86e5, #36d1dc)
  margin: 40px auto 40px
  position: relative
  font-size: 18px
  font-weight: normal
  font-style: normal
  line-height: 1.5
  letter-spacing: normal
  color: $white
  border: none !important
  span
    position: relative
    z-index: 2
    box-shadow: none


  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------

//------.home-section__button--birthday--------
.home-section__button--birthday
  &:after
    box-shadow: 0px 10px 25px rgba(71, 174, 224, .33)
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------

//------.button-helper--birthday--------
.button-helper--birthday
  background: linear-gradient(to top, #6f9af5, #4ae5f0)


//------.search-cards-card__text--------
.search-cards-card__text
  // +bg()
  // +background-img("/../assets/img/article-1/img-5.webp")
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  padding: 0 40px
  text-align: left
  // position: relative
  // display: none
  // display: flex
  // display: grid
  // grid-template-columns:
  // grid-template-rows:
  // grid-template-areas:
  // grid-area:
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.home-section__button--toasts--------
.home-section__button--toasts
  background: linear-gradient(to top, #ff512f, #f09819)
  position: relative
  width: 192px
  height: 60px
  &:after
    box-shadow: 0px 10px 25px rgba(247, 116, 36, 0.35)
  &:hover
    cursor: pointer

//------.button-helper--toasts--------
.button-helper--toasts
  background: linear-gradient(to top, #ff5143, #ffac2d)

//------.search-cards-card__add--toast--------
.search-cards-card__add--toast
  color: #f77424
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.home-section__button--popular--------
.home-section__button--popular
  background: linear-gradient(295.63deg, #F85032 15.94%, #E73827 83.51%)
  width: 216px
  height: 60px
  &:after
    box-shadow: 0px 10px 25px rgba(244, 74, 47, 0.33)
.button-helper--popular
  background: linear-gradient(to top, #ff6446, #fb4c3b)



//------.popular-cards--------
.popular-cards
  display: grid
  grid-gap: 15px
  grid-template-columns: repeat(2,auto)
  // grid-template-columns: auto auto  auto auto
  // grid-template-rows: masonry
  // grid-template-columns: repeat(4,auto)
  grid-template-rows: repeat(2,auto)
  // grid-template-columns: 1fr 1fr 1fr 1fr
  // grid-template-rows: 1fr 1fr
  // grid-template-areas:
  // grid-area:
  // grid-auto-flow: dense
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
.popular-cards__long
  +jucb
  flex-wrap: nowrap !important
.popular-cards__high
  grid-row:  span 2
  display: flex
//------.popular-cards__card--------
.popular-cards__card
  // grid-column:  span 1
  // grid-row: span 1
  display: flex
  // +bg()
  // +background-img("/../assets/img/article-1/img-5.webp")
  // +alic
  // +jucs
  // +jucb
  width:  auto
  min-height: 252px
  // flex: 0 1 100%
  margin: 0 15px 0 0
  &:last-child
    margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  // display: grid
  // grid-template-columns:
  // grid-template-rows:
  // grid-template-areas:
  // grid-area:
  // display: contents 
  img
    min-height: 252px
  // &:nth-child(1)
    // +background-img("/../assets/img/home/img-12.webp")
  // &:nth-child(2)
    // +background-img("/../assets/img/home/img-13.webp")
  // &:nth-child(3)
    // +background-img("/../assets/img/home/img-1.webp")
  // &:nth-child(4)
    // +background-img("/../assets/img/home/img-2.webp")
    // grid-row: span 2
  // &:nth-child(5)
    // +background-img("/../assets/img/home/img-11.webp")
    // display: contents 
  // &:nth-child(6)
    // +background-img("/../assets/img/home/img-3.webp")
    // display: contents 
  // &:nth-child(5)
    
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------

//------popular__cards--------
.popular__cards
  // +bg()
  // +background-img("/../assets/img/article-1/img-5.webp")
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  margin: 32px 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  // display: grid
  // grid-template-columns:
  // grid-template-rows:
  // grid-template-areas:
  // grid-area:
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------