.march__title
  padding: 136px 0 0 0
  position: relative
  @media (max-width: 767px)
    padding: 98px 0 0 0
  &:after
    content: ""
    width: 80px
    height: 5px
    background-color: #efce4a
    position: absolute
    left:0
    bottom :-4px
    z-index: 2
    @media (max-width: 767px)
      bottom: -12px
    
.names__title
  h2
    font-family: 'Yanone Kaffeesatz'
    font-style: normal
    font-weight: normal
    font-size: 36px
    line-height: 140%
    color: #222222
    @media (max-width: 767px)
      font-size: 24px
      text-align: center



.march-nav__item
  margin: 0 20px 0 0
  &:last-child
      margin: 0 0 0 0
.btn--march
  padding: 6px 14px
  border-radius: 100px
  background-color: #f1f2f2
  color: rgba(239, 34, 53, 0.8)
  font-style: normal
  font-weight: normal
  font-size: 14px
  line-height: 150%
  letter-spacing: .02rem
  @media (max-width: 767px)
    font-size: 12px

  //-------------
  &:hover
    cursor: pointer
    background-color: rgba(239, 34, 53, 0.8)
    color: $white
    margin: 0 20px 0 0
    &:last-child
    margin: 0 0 0 0




// ------------cardscardscards---------------------
.march__cards
  
  
  margin: 26px -15px -20px -15px
  


.march-cards
  column-count: 3
  column-gap: 0px
  padding: 20px 0 0 0	
  @media (min-width: 768px) and (max-width: 1350px)
    column-gap: 30px
  @media (min-width: 768px) and(max-width: 1200px)
    column-count: 2
  @media (max-width: 767px)
    column-gap: 12px
    margin: 10px -15px -10px
    column-count: 1

// ------------------card---------------------------

.march-cards__card__body
  padding: 30px 45px
  margin: -15px -45px
  +pro
  box-shadow: 0 0 20px 0 rgb(34 34 34 / 12%)
  border-radius: 3px


.march-cards__card
    height: auto
    // width: auto
    width: 100%

    break-inside: avoid
    overflow: hidden
    // overflow-x: visible
    justify-content: center
    border-radius: 3px
    // box-shadow: 0 0 20px 0 rgb(34 34 34 / 12%)
    background-color: #fff
    margin: 0 0 0px 0
    padding: 30px 15px	


.search-cards-card--march
  box-shadow: none

.march-cards__content
  +jucs
  text-align: left
  margin: 0 0 0 0
  padding: 0 0 0 0
  br:first-of-type
    display: none



.march-connect__text
  font-family: 'Yanone Kaffeesatz', sans-serif
  font-size: 28px
  font-weight: normal
  font-stretch: normal
  font-style: normal
  line-height: 1.4
  letter-spacing: normal
  text-align: center
  color: #222222
  @media (max-width: 767px)
    font-size: 20px
  

.march-connect__title h2
  font-family: 'Yanone Kaffeesatz', sans-serif
  font-size: 36px
  font-weight: normal
  font-stretch: normal
  font-style: normal
  line-height: 1.4
  letter-spacing: normal
  text-align: center
  color: #222222


// &:last-child
//   margin: 0 0 0 0


.soc__button
  button
    +pro
    padding: 12px 20px
    border-radius: 100px

.march-connect__button-link
  button
    padding: 12px 25px
    border-radius: 100px
    background-color: #f1f2f2
    color: rgba(34, 34, 34, 0.5)
    margin: 0 auto
    i
      margin: 0 0 0 50px
      @media (max-width: 767px)
        margin: 0 0 0 0
        position: absolute
        top: 50%
        right :12px 
        transform: translateY(-50%)
        font-size: 20px
        color: #EF2235

    @media (max-width: 767px)
      width: 100%
      height: 42px
      padding: 12px 40px  12px  25px
    span
      @media (max-width: 767px)
        font-size: 12px
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis

  
.soc__button
  img
    margin: 0 10px 0 0
.soc__button--Facebook
  button
    background-color: #1976d2
.soc__button--Twitter
  button
    background-color: #1d9bf0
.soc__button--Pinterest
  button
    background-color: #d32f2f
.soc__button--Telegram
  button
    background-image: linear-gradient(to top, #2aabee, #229ed9)
.soc__button--vk
  button
    background-color: #2787f5


.march__connect 
  margin: 92px 0 -33px 0
  @media (max-width: 767px)
    margin: 37px 0 -33px 0

.march-connect

.march-connect__title
  margin: 0 33.5%
  @media (max-width: 1199px)
    margin: 0 31px
  @media (max-width: 767px)
    h2
      font-size: 24px



.march-connect__button-link
  margin: 20px 0 0 0
  button 
    i
      margin: 0 0 0 80px
      font-size: 24px


.march__body
  position: relative

.march-connect__soc--aside
  +fdc
  margin: 0 0 0 0!important
  padding: 0 0 0 0	
  width: 32px!important
  position: fixed
  top: 250px
  right: calc((100vw -1440px)/2 +43px)
  button
    padding: 0 0 0 0
    height: 32px
    width: 32px
    img 
      margin: 0 0 0 0
      transform: scale(0.6)
  li
    margin: 0 0 15px 0
    &:last-child
      margin: 0 0 0 0
  @media (max-width: 1435px)
    display: none





.march__images

.march-images
  +jucc
  margin: 33px 0 0 0
  @media (max-width: 767px)
    margin: 17px 0 0 0

//-------------
.march-images__image
  padding: 0 0 28.3%
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  &:first-child
    flex: 0 1 45%
    margin: 0 30px 0 0
    @media (max-width: 767px)
      flex: 0 1 100%
      margin: 0 0 0 0
      padding: 0 0 62.3%
  &:last-child
    flex: 0 1 36%
    @media (max-width: 767px)
      display: none

// navnavnavnavnavnavnavnavnavnavnavnavnavnavnavnavnavnavnav

.march__nav
  margin: 23px  -6px  0
  @media (max-width: 767px)
    margin: 27px  0 0  

//--------------
.march-nav
  display: grid
  grid-template-columns: 27% 1fr 37% 
  grid-template-rows: 1fr
  @media (max-width: 1000px)
    grid-template-columns:  1fr 

.search__transfer
  margin: 55px 0 7p1x 0
  @media (max-width: 1000px)
    margin: 38px 0 44px



.march-nav__block
  @media (max-width: 1000px)
    grid-column:  span 1
  +jucs
  .btn--march_first  
      color: rgba(247, 116, 36, 0.8)
      &:hover
        cursor: pointer
        background-color: #f77424
        color: $white
  &:nth-child(2)
  
  &:nth-child(3)
    +jucb
    .btn--march
      color: rgba(45, 156, 219, 0.8)
      &:hover
        cursor: pointer
        background-color: #2d9cdb
        color: $white
    @media (max-width: 1000px)
      +jucs

.march-nav__item
  margin: 0 5px 6px 
  @media (max-width: 767px)
    margin: 0 7px 10px 0
  button
    padding: 5px 17px
    @media (max-width: 767px)
      height: 28px
      padding: 5px 12px


//------._hidden--------
._hidden
  opacity: 1
  visibility: visible
  @media (max-width: 1000px)
    opacity: 0
    visibility: hidden
    display: none
    transition: all 0.1s ease-in-out

//------.search-transfer__links.search-transfer-links --------
.search-transfer__links 
  // +bg()
  // +background-img("/../assets/img/article-1/img-5.webp")
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  // display: grid
  // grid-template-columns:
  // grid-template-rows:
  // grid-template-areas:
  // grid-area:
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
.search-transfer
  border-radius: 3px
  padding: 10px 0px 30px 30px
  background-color: #fbfcfc
  margin: 58px 0 102px 0
  @media (max-width: 767px)
    padding: 10px 0px 30px 0px
  h2
    @media (max-width: 767px)
      padding: 0 0 0 0	


//------.search-transfer-links--------
.search-transfer-links
  margin: 24px 0 0 0
  display: grid
  grid-template-columns:  1fr 1fr
  // grid-template-rows: repeat(2, 1fr)
  grid-column-gap: 30px
  display: none
    
  @media (max-width: 1000px)
    grid-template-columns:  1fr
    margin: 14px 0 0 0
    padding: 0 14px	



//-------------
.search-transfer__title
  h2,button
    display: inline-flex
  button
    margin: 0 0 0 30px
    @media (max-width: 767px)
      font-size: 12px
      margin: 0 0 0 0!important
  h2
    @media (max-width: 767px)
      font-size: 20px!important
      padding: 0 0 0 0!important
      font-size: 19px!important
      line-height: 140%!important
  @media (max-width: 767px)
    +jucb
    +alic
    flex-wrap: nowrap
    padding: 0 0	0 14px


.search-transfer-links__item
  grid-column:  span 1fr
  grid-row: span 1fr
  margin: 0 0px 15px 0
  &:last-child
    margin: 0 0 0 0

//------.search-transfer__button--------
.search-transfer__button
  +alic
  +jucb
  +bg(transparent)
  font-size: 18px
  color: rgba(34, 34, 34, 0.5)
  min-width: 166px
  @media (max-width: 767px)
    min-width: 95px
  span
    position: relative
    margin: 0 30px 0 0
    @media (max-width: 767px)
      margin: 0 0 0 0
  i
    font-size: 24px
    transition: all 0.2s ease-in-out
    @media (max-width: 767px)
      font-size: 16px


//------.search-transfer-links__link--------
.search-transfer-links__link
  +alic
  flex: 0 1 50%
  font-size: 20px
  img
    margin: 0 10px 0 0
    width: 14px
    height: 14px
  &:hover
    cursor: pointer
    color: #ef2235
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    font-size: 14px
    +alis
    flex-wrap: nowrap



.home-section__button--friend
  height: 45px
  margin: 40px auto
  +bg(transparent)
  &:hover
    cursor: pointer
    span, i
      color: #ef2235!important
  @media (max-width: 767px)
    margin: 7px auto
  span
    font-size: 18px
    color: #ef2235
    @media (max-width: 767px)
      font-size: 17px
      display: block
    //-------------
  i
    font-size: 35px
    color: #ef2235
    margin: 0 0 3px 3px
    transition: all 0.2s ease-in-out

  &:focus 
    span, i
      color: #ef2235



.btn--friend
  color: rgba(239,34,53,.8)!important
  
  &:hover
    +bg(rgba(239,34,53,.8)!important)
    color: white!important


#soc-aside
  transition: all 0.2s ease-in-out



.march-cards__button
  width: 307px

// ===============================================================================

.names__inner

.names-inner

.names-inner__letter
  margin: 0 0 27px 0

.names-letter

.names-letter__title
  h4
    font-family: 'Yanone Kaffeesatz', sans-serif
    font-size: 28px
    line-height: 1.4
    font-weight: normal
    color: #ef2235
    text-transform: uppercase
    @media (max-width: 767px)
      font-size: 20px


.names-letter__list
  display: grid
  grid-template-columns:  repeat(6, 1fr)
  grid-template-rows:  1fr
  justify-content: space-between 
  margin: 9px 0 0 0
  @media (max-width: 767px)
    grid-template-columns:  repeat(3, 1fr)
    grid-column-gap: 40px

.names-letter__list-item
  grid-column:  span 1
  grid-row: span 1


.names-colum__item
  padding: 0 0 5px 0	








.names-letter__list--string
  width: 100%
  +jucs
.names-letter__list-item--string
  width: 100%

.names-column--string
  +jucs
  flex-wrap: nowrap
.names-colum__item--string
  flex: 0 1 16.6666666%

.search__transfer--names
  +bg(transparent)
  padding: 0 0 0 0	

.search-transfer__input
  position: relative
  margin: 13px 0 0 0
  @media (max-width: 767px)
    margin: 7px 0 0 0
  input
    width: 650px
    height: 59px
    border-radius: 100px
    background-color: #f1f2f2
    padding: 0 0 0 57px	
    color: rgba(34, 34, 34, 0.5)
    @media (max-width: 767px)
      width: 100%
      height: 45px
      margin: 0 0 0
      padding: 0 0 0 45px
      

    &::placeholder
      font-size: 18px
      color: rgba(34, 34, 34, 0.5)
      @media (max-width: 767px)
        font-size: 14px
        letter-spacing: 1px

  i
    +absolute(auto,auto,50%,20px,auto,0%,-50%)
    color: rgba(34, 34, 34, 0.3)
    font-size: 24px
    @media (max-width: 767px)
      font-size: 16px

.names-colum__link
  font-size: 20px
  font-weight: normal
  font-stretch: normal
  font-style: normal
  line-height: 1.5
  letter-spacing: normal
  color: #222222
  @media (max-width: 767px)
    font-size: 14px



.map__inner 
  margin: 45px 0 0 0
  @media (max-width: 767px)
    margin: 33px 0 0 0
.map__article 
  margin: 0 0 31px 0
.map-article 
.map-article__title 
  display: inline-block
  &:hover
    cursor: pointer
  h3
    font-family: 'Yanone Kaffeesatz', sans-serif
    font-size: 28px
    font-weight: normal
    @media (max-width: 767px)
      font-size: 18px
  position: relative
  i
    +absolute(auto,auto,50%,auto,-60px,0%,-50%)
    font-size: 36px
    transition: all 0.1s ease-in-out




.js-map-title 
.icon-chevron-down 
.map-article__drop
  margin: 16px 0 0 0 
  display: none
.js-map-drop 
.map-article-inner 
  column-count: 2
  column-gap: 29px
  @media (max-width: 1200px)
    column-count: 1
    column-gap: 0px

.transfer
  // width: 40%
  break-inside: avoid
  overflow: hidden
.map-article-inner__block
  // width: 40% 
  break-inside: avoid
  @media (max-width: 767px)
    margin: -3px 0 0 0
.map-article-inner__section
  break-inside: avoid
.map-article-inner-section__title
  padding: 0 0 20px 0	
  h3
    font-family: 'Yanone Kaffeesatz', sans-serif
    font-size: 24px
    font-weight: normal
.map-inner-block 
.map-inner-block__title
  margin: 0 0 8px 0
  @media (max-width: 767px)
    font-size: 12px
  a
    display: inline-block 
.map-article-inner__item
  padding: 0 0 0 30px	
  break-inside: avoid 
  @media (max-width: 767px)
    padding: 0 0 0 15px	
.map-article-inner-item 
.map-article-inner-item__title
  padding: 0 0 8px 0	
  h5
    font-size: 16px
    font-weight: normal
    font-stretch: normal
    font-style: normal
    line-height: 1.5
    letter-spacing: normal
    color: rgba(34, 34, 34, 0.7) 
    @media (max-width: 767px)
      font-size: 12px
.map-article-inner-item__propertes 
  padding: 0 0 0 30px
  @media (max-width: 767px)
    padding: 0 0 0 15px		
.map-article-inner-item__property 
  padding: 0 0 8px 0
  @media (max-width: 767px)
    font-size: 12px	
.map-article-inner-item__property-link
  color: rgba(34, 34, 34, 0.7) 


// ==============================================================

.search-transfer__input
  input
    &:hover
      cursor: pointer
    &:focus
      cursor: default
.march__description
  font-size: 18px
  font-weight: normal 
  margin: 33px 0  62px 
  width: 71%
  @media (max-width: 767px)
    font-weight: normal
    font-size: 14px
    line-height: 150%
    width: 100%
    margin: 30px 0  62px
//-------------


.march__section
  
  .title-1
    h2 
      display: inline-block
      @media (max-width: 767px)
        padding: 0 0 0 0	
    a 
      display: inline-block
      font-size: 24px
      font-weight: normal
      color: rgba(34, 34, 34, 0.5)
      margin: 0 0 0 25px
      @media (max-width: 767px)
        font-weight: normal
        font-size: 16px
        line-height: 150%
        margin: 0 0 0 17px
    @media (max-width: 767px)
      +jucc
      +alic

.march__section
  .home-section__button
    // margin: 30px auto  !important
    @media (max-width: 1000px)
      margin: 30px auto  !important






.march-section 
.march-section__link 
.march__cards 
.march-cards 
.march-cards__card 
  border-radius: 3px
  // box-shadow: 0 0 20px 0 rgba(34, 34, 34, 0.12)
  background-color: $white


.march-section__cards
  +jucb
  margin: 35px 0 0 0
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    +jucc
  @media (max-width: 767px)
    margin: 6px 0 0 0
//-------------



.march__section--ukr
  margin: 92px 0 0 0!important
  @media (max-width: 767px)
    margin: 51px 0 0 !important

.search__transfer--ukr
  margin: 22px 0 44px

.march-section-block__title-1
  margin: 0 0 15px 0
  @media (max-width: 767px)
    display: flex
    justify-content: flex-start!important
  h2
    font-size: 28px

.march-section-block__item
  margin: 0 0 15px 0
  @media (max-width: 767px)
    margin: 0 0 13px 0










//------.march-cards__card--ukr--------
.march-section-cards__card
  +alie
  +juce
  height:200px
  padding: 0 60px 50px 0
  border-radius: 3px
  box-shadow: 0 0 20px 0 rgba(34, 34, 34, 0.12)
  background-color: $white
  margin: 0 0 30px 0
  width:342px
  position: relative
  img 
    +absolute(auto,auto,50%,20px,auto,0%,-50%)
    @media (max-width: 767px)
      left: auto!important
      transform: translateY(-105%) scale(.75)

  &:nth-child(1),&:nth-child(6n),&:nth-child(6n+1)
    padding: 0 95px 50px 0
    width:456px
    img 
      left: 40px!important
      @media (max-width: 767px)
        left: auto!important
        transform: translateY(-90%) scale(.58)
        
    @media (max-width: 1350px)
      width:415px
        
    
  @media (max-width: 1200px)
    width: 400px!important

  @media (max-width: 767px)
    padding: 0 0 0 0!important	
    +fdc
    +juce
    +alic
    height:183px
    width:154px!important
    margin: 0 0 13px 0




.march-section-cards__block
  position: relative
  p
    +absolute(auto,auto,-50px,50%,auto,-50%,0)
    @media (max-width: 767px)
      top: -35px
  button 
    width: 116px
    height: 48px
    border-radius: 100px
    color: white
    margin: 0 auto
    position: relative
    &:after
      content: ""
      position: absolute
      width: 74%
      height: 100%
      top: 0 
      left: 50%
      z-index: 2
      transform: translate(-50%,0%)
    @media (max-width: 767px)
      font-weight: normal
      font-size: 12px
      line-height: 150%
      width: 87px
      height: 36px
      margin: 0 0 20px 0


.march-card__title--ukr
  font-family: 'Yanone Kaffeesatz'
  font-size: 28px
  font-weight: normal
  text-align: center
  white-space: nowrap
  @media (max-width: 767px)
    font-weight: normal
    font-size: 16px
    line-height: 150%


//-------------
.march-section__inner
  column-count: 2
  column-gap: 29px
  @media (max-width: 767px)
    column-count: 1


.march-section__block
  break-inside: avoid
  @media (max-width: 767px)
    margin: 0 0 26px 0

.march-section-block__item
  font-size: 20px
  a
    display: inline-block
    &:hover
      cursor: pointer
      color:#ef2235
  @media (max-width: 767px)
    font-size: 14px




._grad-1
  background-image: linear-gradient(to top, #fc3842, #ef2235)
  &:after
    box-shadow: 0 10px 25px 0 rgba(244, 74, 47, 0.2)

._grad-2
  background-image: linear-gradient(to top, #7c7f2a, #6a6925)
  &:after
    box-shadow: 0px 10px 25px rgba(118, 120, 40, 0.2)
._grad-3
  background: linear-gradient(295.63deg, #FC3842 15.94%, #FC3842 83.51%)
  &:after
    box-shadow: 0px 10px 25px rgba(244, 74, 47, 0.2)
._grad-4
  background: linear-gradient(295.63deg, #EBC752 15.94%, #EBBC50 83.51%)
  &:after
    box-shadow: 0px 10px 25px rgba(235, 196, 81, 0.2)
  
._grad-5
  background-image: linear-gradient(to top, #a0a0a0, #787878)
  &:after
    box-shadow: 0px 10px 25px rgba(118, 118, 118, 0.2)
  
._grad-6
  background-image: linear-gradient(to top, #7c7f2a, #6a6925)
  &:after
    box-shadow: 0px 10px 25px rgba(118, 120, 40, 0.2)
._grad-7
  background-image: linear-gradient(to top, #873f30, #6c3328)
  &:after
    box-shadow: 0px 10px 25px rgba(128, 59, 45, 0.2)
._grad-8
  background-image: linear-gradient(to top, #7bacdf, #5f99d7)
  &:after
    box-shadow: 0px 10px 25px rgba(115, 167, 221, 0.2)
._grad-9
  background-image: linear-gradient(to top, #407093, #365e7d)
  &:after
    box-shadow: 0px 10px 25px rgba(61, 107, 141, 0.2)

//------.prose-card-js--------
.prose-card-js
  opacity: 0
  position: relative
  position: absolute
  transform: translate(-1000%)
  transition: opacity 0.2s ease-in-out
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
.prose-card-js--active
  opacity:1
  position: relative
  transform: translate(0)


.soc__button
  .btn--success-icon
    img
      @media (max-width: 1000px)
        width: 14px
        height: 14px
        max-width: 14px
        margin: 0 0 0 0
    span
      @media (max-width: 1000px)
        display: none

    @media (max-width: 1000px)
      width: 40px
      height: 40px
      border-radius: 50%


.march-connect__soc
  +jucb
  margin: 15px auto 22px
  width: 66%
  @media (max-width: 1200px)
    width: 100%
    padding: 0 31px
    width: 100%
  @media (max-width: 340px)
    padding: 0 0 0 0	




.march-nav__button
  display: none
  @media (max-width: 1000px)
    display: block
    margin: 7px 0 0 0
    +jucc
    +alic	
    justify-self: center
    grid-column:  span 1
    +bg(white)
    span
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 150%
      text-align: center
      color: rgba(34, 34, 34, 0.5)
      position: relative
      margin: 0 10px 0 0
    i
      font-size: 24px
      color: rgba(34, 34, 34, 0.5)
      transition: all 0.2s ease-in-out

.march__nav--march
  grid-template-columns: 1fr!important

.search__transfer--names 
  @media (max-width: 767px)
    margin: 33px 0 -5px!important


.map-article__title i 
  @media (max-width: 767px)
    right: -37px
    font-size: 30px