/* @font-face {
font-family: YanoneKaffeesatz;
src:
local(PrYanoneKaffeesatz-Regular),
url('/assets/fonts/YanoneKaffeesatz-Regular.woff') format('woff'),
url('/assets/fonts/YanoneKaffeesatz-Regular.ttf') format('truetype'),
url('/assets/fonts/YanoneKaffeesatz-Regular}') format('embedded-opentype'),
url('/assets/fonts/YanoneKaffeesatz-Regular.svg  ') format('svg'),
url('/assets/fonts/YanoneKaffeesatz-Regular.otf  '),
url('/assets/fonts/YanoneKaffeesatz-Regular.eot  ');
font-weight: normal;
font-style: normal;
font-stretch: normal;
} */

@font-face {
  font-family: 'icomoon';
  src:  url('/assets/fonts/icomoon.eot?pf97s8');
  src:  url('/assets/fonts/icomoon.eot?pf97s8#iefix') format('embedded-opentype'),
    url('/assets/fonts/icomoon.ttf?pf97s8') format('truetype'),
    url('/assets/fonts/icomoon.woff?pf97s8') format('woff'),
    url('/assets/fonts/icomoon.svg?pf97s8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\f073";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-odnoklassniki:before {
  content: "\f263";
}
.icon-vk:before {
  content: "\f189";
}
.icon-rouble:before {
  content: "\e90f";
}
.icon-heart1:before {
  content: "\e902";
}
.icon-x:before {
  content: "\e905";
}
.icon-copy:before {
  content: "\e900";
}
.icon-monetization_on:before {
  content: "\e901";
}
.icon-desktop_mac:before {
  content: "\e903";
}
.icon-camera_roll:before {
  content: "\e904";
}
.icon-people_outline:before {
  content: "\e906";
}
.icon-train:before {
  content: "\e907";
}
.icon-instagram:before {
  content: "\e911";
}
.icon-plus-circle:before {
  content: "\e908";
}
.icon-align-justify:before {
  content: "\e909";
}
.icon-search:before {
  content: "\e90a";
}
.icon-check:before {
  content: "\e90b";
}
.icon-chevron-down:before {
  content: "\e90d";
}
.icon-chevron-left:before {
  content: "\e90e";
}
.icon-chevron-right:before {
  content: "\e910";
}
.icon-chevron-up:before {
  content: "\e912";
}
.icon-eye:before {
  content: "\e913";
}
.icon-message-square:before {
  content: "\e914";
}
.icon-plus:before {
  content: "\e915";
}
.icon-home:before {
  content: "\e916";
}
.icon-share:before {
  content: "\e917";
}
.icon-airplay:before {
  content: "\e918";
}
.icon-play_arrow:before {
  content: "\e919";
}
.icon-arrow-left:before {
  content: "\e90c";
}
.icon-arrow-right:before {
  content: "\e91a";
}
.icon-dehaze:before {
  content: "\e91b";
}
.icon-phone:before {
  content: "\e942";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-google:before {
  content: "\ea88";
}
.icon-location2:before {
  content: "\e948";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-email:before {
  content: "\e91c";
}