*
  // outline: 1px solid green
  box-sizing: border-box


.container
  // outline: 1px solid #4164ff
//------.container--------
.container
  // +alic
  // +jucs
  // +jucb
  max-width: 1200px
  // height:
  // flex: 0 1 100%
  margin: 0 auto
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  // display: grid
  // grid-template-columns:
  // grid-template-rows:
  // grid-template-areas:
  // grid-area:
  @media (max-width: 1340px)
    // margin: 0 20px

  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // margin: 0 10px
//-------------


body
  background-color: $white
  font-family: 'Open Sans', sans-serif
  font-size: 16px
  font-weight: normal
  font-stretch: normal
  font-style: normal
  line-height: 1.5
  letter-spacing: normal
  color: #222222
.wrapper
  overflow: hidden
  min-height: 100vh


.bg
  background-repeat: no-repeat
  background-size: cover
  background-position: center

a
  display: block
  transition: all 0.2s ease-in-out
  color: #181818
  &:hover
    color: darken($green, 50%)
    cursor: pointer


.lock
  overflow: hidden
.active
  opacity: 1
  visibility: visible
  display: block







.scroll-block::-webkit-scrollbar-track
  border-radius: 4px

.scroll-block::-webkit-scrollbar
  width: 10px

.scroll-block::-webkit-scrollbar-thumb
  border-radius: 4px
  background: #f0f2f5

.scroll-block:hover::-webkit-scrollbar-thumb
  background: #ececec


.border-bg
  +border(1px, #D7CCC8)
  +bg(white)
  border-radius: 5px



.m2
  margin: 2px 0 0 0 !important

.m3
  margin: 3px 0 0 0 !important

.m4
  margin: 4px 0 0 0 !important

.m5
  margin: 5px 0 0 0 !important

.m6
  margin: 6px 0 0 0 !important

.m7
  margin: 7px 0 0 0 !important

.m8
  margin: 8px 0 0 0 !important

.m9
  margin: 9px 0 0 0 !important

.m10
  margin: 10px 0 0 0 !important

.m11
  margin: 11px 0 0 0 !important

.m12
  margin: 12px 0 0 0 !important

.m13
  margin: 13px 0 0 0 !important

.m14
  margin: 14px 0 0 0 !important

.m15
  margin: 15px 0 0 0 !important

.m16
  margin: 16px 0 0 0 !important

.m17
  margin: 17px 0 0 0 !important

.m18
  margin: 18px 0 0 0 !important

.m19
  margin: 19px 0 0 0 !important

.m20
  margin: 20px 0 0 0 !important


//------.title-1--------
.title-1
  // +bg()
  // +background-img("/../assets/img/article-1/img-5.webp")
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  font-family: 'Yanone Kaffeesatz', sans-serif
  font-size: 36px
  font-weight: normal
  font-stretch: normal
  font-style: normal
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
