//------.first--------
.first
  // +alic
  // +jucs
  // +jucb
  // width:
  // min-height: 100vh
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  // display: grid
  // grid-template-columns:
  // grid-template-rows:
  // grid-template-areas:
  // grid-area:
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.header--------
.header
  z-index: 1000
  transition: all 0.2s ease-in-out
  position: fixed
  width: 100%
  height: 70px
  box-shadow: 0 4px 12px 0 rgba(34, 34, 34, 0.08)
  background-color: white
  @media (max-width: 1199px)
    // height: 60px
  @media (max-width: 768px)
    // height: 40px
//-------------
//------responciveHeader--------
.responciveHeader
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  // display: grid
  // grid-template-columns:
  // grid-template-rows:
  // grid-template-areas:
  // grid-area:
  position: fixed
  width: 100%
  height: 60px
  +bg(rgba(245,245,245, .9))
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------


//------.header__body--------
.header__body
  margin: 0 auto
  position: relative
  height: 100%
  display: grid
  grid-template-columns: 245px  165px 1fr
  grid-template-rows:  100%
  grid-template-areas: "logo  info menu "
  
  @media (max-width: 1200px)
    grid-template-columns: 147px  165px 1fr
    padding: 0 20px
//-------------
//------.header__burger--------
.header__burger
  display: none
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 1000px)
    font-size: 20px
    display: inline-block
    color: #181818
    +absolute(20px,20px,50%,auto,24px,0%,-50%)
    transition: all 0.2s ease-in-out
    z-index: 1100
    &:hover
      cursor: pointer
//-------------
//------.header__logo--------
.header__logo
  grid-area: logo
  +center
  margin: 0 0px 0 0
  img
    height: 40px
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 1200px)
    img
      height: 24px

//-------------
//------.header__info--------
.header__info
  margin: 0  0 0  25px
  position: relative
  grid-area: info
  @media (max-width: 1000px)
    margin: 0 0 0 10px

.info
  +alic
  +jucs



//------.info__language --------
.info__language 
  // padding: 0 0 0 15px
  font-size: 14px
  font-weight: normal
  font-stretch: normal
  font-style: normal
  line-height: 1.5
  @media (max-width: 1000px)
    font-size: 12px
//-------------

.info__language
  height: 100%
.info__language
    .block__select
      position: relative
      &:after
        content: ""
        background-color: transparent
        position: absolute
        width: 80%
        height: 100%
        top: 0 
        right: 0
        z-index: 2
        // top: 100% 
        // left: 100%
        // top: 50% 
        // left: 50%
        // right: 0%
        // @include anim(0.2s)
        // @include rotate(45deg)
        // transform: translate(-50%,-50%)
        // transform: translate(-50%,-50%) rotate(45deg)
    

    .new-select, .block__select, .select
      width: 163px
    .new-select
      padding: 0 15px
    .new-select__list
      top:45px
      background: #FFFFFF
      box-shadow: 0px 10px 12px rgba(34, 34, 34, 0.1)
      border-radius: 0px 0px 3px 3px
      z-index: 1010
    .new-select__item
      padding: 10px 15px
      transition: all 0.2s ease-in-out
      &:hover
        background: rgba(45, 156, 219, 0.15)




//------.header__menu--------
.header__menu
  // margin: 0 30px 0 0
  position: relative
  grid-area: menu
  padding: 0 0 0 18%
  top: 0	
  +alic
  +jucb
  @media (min-width: 1001px) and(max-width: 1199px)
    padding: 0 0 0 39px

  @media (max-width: 1000px)
    position: relative
    width: 100vw
    height: 100vh
    position: fixed
    top: 70px
    transform: translateX(-100vw)
    left: 0
    padding:  23px  0 0px 83px
    box-shadow: inset 12px 4px 12px 0 rgba(34,34,34,.08)
    text-align: left
    +fdc
    +jucb
    +alib
    +bg(white)
    z-index: 1000
    transition: all 0.2s ease-in-out
    flex-wrap: nowrap
    overflow-y: auto
    overflow-x: visible
//-------------







//------.header__mask--------
.header__mask
  display: none
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 1000px)
    background-color: rgba(0, 0, 0, 0.5)
    position: fixed
    width: 100%
    height: 100%
    top: 0
    left: 0
    z-index: -1
    transition: all 0.2s ease-in-out
    transform: translateX(100%)
    display: block !important
//-------------
//------.header__close--------
.header__close
  display: none
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 1000px)
    display: none
    +absolute(auto,auto,24px,auto,24px,0%,0%)
    color: white
    font-size: 20px
    z-index: 10000
    &:hover
      cursor: pointer
//-------------
//------.menu__link--contacts--------
.menu__link--contacts,.menu__link--map
  // +bg()
  // +background-img("/../assets/img/article-1/img-5.webp")
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  margin: 0 30px 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex

  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 1000px)
    font-size: 14px
    font-weight: normal
    display: inline-block
//-------------
//------.menu__link--------
.menu__links
  display: none

  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 1000px)
    +jucs
    a
      height: 20px 
      &:hover
        cursor: pointer
        color: #b84dc4
//-------------
//------.menu--------
.menu
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0

  // display: none
  // display: flex
  // display: grid
  // grid-template-columns:
  // grid-template-rows:
  // grid-template-areas:
  // grid-area:
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.menu--------
.menu-active
  @media (max-width: 1000px)
    transform: translateX(-64px)

//-------------
//------.menu__list-------
.menu__list
  +alic
  +jucb
  flex: 0 1 100%
  @media (max-width: 1199px)
  @media (max-width: 1000px)
    position: relative
    width: 100%
    flex-wrap: nowrap
    +fdc
    +alis
    +jucs
    padding: 0 0 101px 0	
    li
      flex: 0 1 auto
      &:last-child
        flex-grow: 1
        +alie




//-------------
//------.menu__item--------
.menu__item
  +alic
  // +jucs
  // +jucb
  // width:
  height: 100%
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  // display: grid
  // grid-template-columns:
  // grid-template-rows:
  // grid-template-areas:
  // grid-area:
  +border(1px , transparent)
  transition: all 0.2s ease-in-out
  img
    display: none
 
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 1000px)
    // flex: 0 1 100%
    margin: 0 0 13px 0
    height: auto
    img
      display: block
      margin: 0 8px 0 0
    &:last-child
      margin: 0 0 30px 0
    
//-------------
//------.menu__link--------
.menu__link
  +alic
  // +jucs
  // +jucb
  // width:
  height: 100%
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 5px
  // position: relative
  // display: none
  // display: flex
  // display: grid
  // grid-template-columns:
  // grid-template-rows:
  // grid-template-areas:
  // grid-area:
  font-size: 14px
  &:hover
    cursor: pointer
    color: #b84dc4

  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
    // font-size: 16px
  @media (max-width: 1000px)
    font-size: 14px
    
//-------------




//------.bunner--------
.bunner
  // +alic
  // +jucs
  // +jucb
  // max-width:1300px
  // min-height: calc(100vh-80px)
  // min-height: 100vh
  margin: 0 0 169px 0
  // +bg()
  // +background-img("/../assets/img/article-1/img-5.webp")
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  // display: grid
  // grid-template-columns:
  // grid-template-rows:
  // grid-template-areas:
  // grid-area:
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 1000px)
    // flex: 0 1 100%
    margin: 0 0 40px 0
    padding: 90px 0 40px
//------.bunner__body--------
.bunner__body
  padding: 187px 0px 0 0
  +fdc
  position: relative

  @media (min-width: 1001px) and (max-width: 1350px)
    padding: 187px 20px 0 

  @media (max-width: 1000px)
    +alic

//------.bunner__text--------
.bunner__title  
  // +alic
  // +jucs
  // +jucb
  width:46%
  display: inline-flex
  // height:
  // flex: 0 1 100%
  margin: 0 0 43px 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  // display: grid
  // grid-template-columns:
  // grid-template-rows:
  // grid-template-areas:
  // grid-area:
  // font-family: YanoneKaffeesatz

  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 1000px)
    width:100%
    text-align: center
    +jucc
    margin: 28px 0 27px
//-------------





//--------------
.bunner__button
  // +bg()
  // +background-img("/../assets/img/article-1/img-5.webp")
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  +center
  display: inline-flex
  width: 294px
  height: 59px
  font-size: 18px
  font-weight: normal
  font-style: normal
  line-height: 1.5
  letter-spacing: normal
  color: $white
  border-radius: 100px
  background-image: linear-gradient(to top, #d04ed6, #834d9b)
  box-shadow: none
  &:after
    box-shadow: 0px 10px 25px rgba(184, 77, 196, 0.33)
  span
    position: relative
    z-index: 2
    letter-spacing: .6px
  &:hover
    cursor: pointer
    &> .button-helper--first
      opacity: 1
    box-shadow: none!important

  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 1000px)
    width: 230px
    height: 45px
    font-size: 14px
    margin: 0 auto
//-------------
//--------------
.bunner__img
  +background-img("/../assets/img/home/mail-illustration.svg")
  padding: 0 0 33.5% 0
  background-position: 50% 
  +absolute(46% ,auto,100px,auto,0,0%,0%)
  @media  (min-width: 1001px) and (max-width: 1350px)
    right: 20px
  @media (max-width: 1000px)
    width: 87%
    padding: 0 0 320px 0
    position: relative
    top: 0
    max-width: 542px
    max-height: 390px
  @media (max-width: 768px)
    max-width: 87%
    padding: 0 0 62.8% 0
//-------------
//------.info--------
.info
  // +bg()
  // +background-img("/../assets/img/article-1/img-5.webp")
  +alic
  // +jucs
  +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  // display: grid
  // grid-template-columns:
  // grid-template-rows:
  // grid-template-areas:
  // grid-area:
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.info__languag--------
.info__language
  // +bg()
  // +background-img("/../assets/img/article-1/img-5.webp")
  +alic
  +jucs
  flex: 0 1 100%
  transition: all 0.2s ease-in-out
  img
    margin: 0 10px 0 0
  &:hover
    // cursor: url(/../assets/img/home/click.svg), auto
    cursor: pointer
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 1000px)
    img
      width: 18px
      height: 12px
      margin: 0 8px 0 0
//-------------
//------.info__drop--------
.info__drop
  // +bg()
  // +background-img("/../assets/img/article-1/img-5.webp")
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  // display: grid
  // grid-template-columns:
  // grid-template-rows:
  // grid-template-areas:
  // grid-area:
  +absolute(100%,auto,100%,0,auto,0%,0%)
  box-shadow: 0 10px 12px 0 rgba(34, 34, 34, 0.1)
  +bg(white)
  z-index: 2000
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 1000px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.info-drop__item--------
.info-drop__item
  // +bg()
  // +background-img("/../assets/img/article-1/img-5.webp")
  +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 15px
  // position: relative
  // display: none
  // display: flex
  // display: grid
  // grid-template-columns:
  // grid-template-rows:
  // grid-template-areas:
  // grid-area:
  min-height: 38px
  transition: all 0.2s ease-in-out
  &:hover
    background-color: rgba(45, 156, 219, 0.15)

  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.info__language--drop--------
.info__language--drop
  // +bg()
  // +background-img("/../assets/img/article-1/img-5.webp")
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  // display: none
  // display: flex
  // display: grid
  // grid-template-columns:
  // grid-template-rows:
  // grid-template-areas:
  // grid-area:
  &:hover
    cursor: pointer !important
    
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.button-helper--first--------
.button-helper--first
  background: linear-gradient(295.63deg, #EE6CF4 15.94%, #A16BB9 83.51%)
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
//------.info-drop-js--------
.info-drop-js
  // +bg()
  // +background-img("/../assets/img/article-1/img-5.webp")
  // +alic
  // +jucs
  // +jucb
  // width:
  // height:
  // flex: 0 1 100%
  // margin: 0 0 0 0
  // padding: 0 0 0 0
  // position: relative
  display: none
  // display: flex
  // display: grid
  // grid-template-columns:
  // grid-template-rows:
  // grid-template-areas:
  // grid-area:
  @media (max-width: 1199px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
  @media (max-width: 767px)
    // flex: 0 1 100%
    // margin: 0 0 0 0
    // padding: 0 0 0 0
//-------------
