section.march__connect.march-connect
  .march-connect__title
    h2 Сподобалася стаття? Поділіться їй в соціальних мережах!
  ul#march-soc.march-connect__soc.soc
    li.soc__button.soc__button--Facebook.soc__button--string
      button.btn.btn--success.btn--success-icon(type='button' tabindex='-1')
        img(src="assets/img/march/facebook.svg",alt="img")
        span Facebook
    li.soc__button.soc__button--Twitter
      button.btn.btn--success.btn--success-icon(type='button' tabindex='-1')
        img(src="assets/img/march/twitter.svg",alt="img")
        span Twitter
    li.soc__button.soc__button--Pinterest
      button.btn.btn--success.btn--success-icon(type='button' tabindex='-1')
        img(src="assets/img/march/pinterest.svg",alt="img")
        span Pinterest
    li.soc__button.soc__button--Telegram
      button.btn.btn--success.btn--success-icon(type='button' tabindex='-1')
        img(src="assets/img/march/telegram.svg",alt="img")
        span Telegram
    li.soc__button.soc__button--vk
      button.btn.btn--success.btn--success-icon(type='button' tabindex='-1')
        img(src="assets/img/march/vk.svg",alt="img")
        span ВКонтакте
  .march-connect__text  або посиланням
  .march-connect__button-link
    button.btn.btn--success.btn--cross(type='button' tabindex='-1')
      span.copytext.path  https://www.mobilecards.com.ua/privitannya-zi-svyatami/
      i.icon-copy