section#popular.search.home-section.popular
    .container
        .title-1.title-1--popular 
          h2  Популярные картинки и открытки
        .popular__cards.popular-cards
            .popular-cards__card.popular-cards-card.popular-cards__card--1
              img(src="assets/img/home/img-12.webp",alt="img")
            .popular-cards__card.popular-cards-card.popular-cards__card--2
              img(src="assets/img/home/img-13.webp",alt="img")
            .popular-cards__card.popular-cards-card.popular-cards__card--3
              img(src="assets/img/home/img-1.webp",alt="img")
            .popular-cards__card.popular-cards-card.popular-cards__card--4
              img(src="assets/img/home/img-2.webp",alt="img")
            .popular-cards__card.popular-cards-card.popular-cards__card--5
              img(src="assets/img/home/img-11.webp",alt="img")
            .popular-cards__card.popular-cards-card.popular-cards__card--6
              img(src="assets/img/home/img-3.webp",alt="img")
        .popular__cards.popular__cards--add.popular-cards
            .popular-cards__card.popular-cards-card.popular-cards__card--1
              img(src="assets/img/home/img-12.webp",alt="img")
            .popular-cards__card.popular-cards-card.popular-cards__card--2
              img(src="assets/img/home/img-13.webp",alt="img")
            .popular-cards__card.popular-cards-card.popular-cards__card--3
              img(src="assets/img/home/img-1.webp",alt="img")
            .popular-cards__card.popular-cards-card.popular-cards__card--4
              img(src="assets/img/home/img-2.webp",alt="img")
            .popular-cards__card.popular-cards-card.popular-cards__card--5
              img(src="assets/img/home/img-11.webp",alt="img")
            .popular-cards__card.popular-cards-card.popular-cards__card--6
              img(src="assets/img/home/img-3.webp",alt="img")
        .popular__cards.popular__cards--add.popular-cards
            .popular-cards__card.popular-cards-card.popular-cards__card--1
              img(src="assets/img/home/img-12.webp",alt="img")
            .popular-cards__card.popular-cards-card.popular-cards__card--2
              img(src="assets/img/home/img-13.webp",alt="img")
            .popular-cards__card.popular-cards-card.popular-cards__card--3
              img(src="assets/img/home/img-1.webp",alt="img")
            .popular-cards__card.popular-cards-card.popular-cards__card--4
              img(src="assets/img/home/img-2.webp",alt="img")
            .popular-cards__card.popular-cards-card.popular-cards__card--5
              img(src="assets/img/home/img-11.webp",alt="img")
            .popular-cards__card.popular-cards-card.popular-cards__card--6
              img(src="assets/img/home/img-3.webp",alt="img")
        
        button.btn(type='button').home-section__button.home-section__button--popular
            span Больше открыток
            .button-helper.button-helper--popular