ul#soc-aside.march-connect__soc.march-connect__soc--aside.soc
  li.soc__button.soc__button--Facebook
    button.btn.btn--success.btn--success-icon(type='button' tabindex='-1' href="#!")
      img(src="assets/img/march/facebook.svg",alt="img")
  li.soc__button.soc__button--Twitter
    button.btn.btn--success.btn--success-icon(type='button' tabindex='-1' href="#!")
      img(src="assets/img/march/twitter.svg",alt="img")
  li.soc__button.soc__button--Pinterest
    button.btn.btn--success.btn--success-icon(type='button' tabindex='-1' href="#!")
      img(src="assets/img/march/pinterest.svg",alt="img")
  li.soc__button.soc__button--Telegram
    button.btn.btn--success.btn--success-icon(type='button' tabindex='-1' href="#!")
      img(src="assets/img/march/telegram.svg",alt="img")
  li.soc__button.soc__button--vk
    button.btn.btn--success.btn--success-icon(type='button' tabindex='-1' href="#!")
      img(src="assets/img/march/vk.svg",alt="img")