//- section#toasts.search.home-section
//-     .container
//-         .title-1 
//-           h2  Лучшие тосты за столом
//-         ul.search__cards.search-cards.search__cards--toasts
//-           li.search-cards__card.search-cards__card--birthday.search-cards-card.search-cards__card--toast.path.random-color
//-             .search-cards-card__title.search-cards-card__title--birthday.copytext
//-               img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
//-               p.search-cards-card__text Желаю всем улыбок столько, сколько звезд на небе. Пусть в душе будет вечно весна, а жизнь беззаботна и весела! И по скольку жизнь то коротка, желаю всем прожить ее сполна. Обязательно везде всем побывать и прекрасных жизненных моментов никогда не забывать!
//-               img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
              
//-           li.search-cards__card.search-cards__card--birthday.search-cards-card.search-cards__card--toast.random-color
//-             .search-cards-card__title.search-cards-card__title--birthday.path.copytext 
//-               img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
//-               p.search-cards-card__text Я хочу поднять свой бокал за тех замечательных людей, которые сидят сейчас вместе со мной. Хочу сказать спасибо судьбе, что она связала меня с этими людьми и наши дороге пересеклись. Не один раз они выручали меня, были моей поддержкой и опорой. Каждый из присутствующих заслуживает счастья, любви, и главное, таких же рядом людей, которые никогда бы не бросили их в трудный момент. Говорят, что именно сам Бог посылает нам наших верных помощников — друзей. Так выпьем за всех нас и нашу дружбу! 
//-               img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
//-             .search-cards-card__add.search-cards-card__add--toast Продолжение
//-           li.search-cards__card.search-cards__card--birthday.search-cards-card.search-cards__card--toast.path.random-color
//-             .search-cards-card__title.search-cards-card__title--birthday.copytext
//-               img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
//-               p.search-cards-card__text Пусть на ваших губах всегда будет привкус сладкой жизни, в ушах звенит мелодия любви. А в голове — мысли лишь о победе, и о том, чтобы всю жизнь ездить только на золотой карете!
//-               img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
//-         ul.search__cards.search__cards--add.search-cards
//-           li.search-cards__card.search-cards__card--birthday.search-cards-card.search-cards__card--toast.path.random-color
//-             .search-cards-card__title.search-cards-card__title--birthday.copytext
//-               img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
//-               p.search-cards-card__text Желаю всем улыбок столько, сколько звезд на небе. Пусть в душе будет вечно весна, а жизнь беззаботна и весела! И по скольку жизнь то коротка, желаю всем прожить ее сполна. Обязательно везде всем побывать и прекрасных жизненных моментов никогда не забывать!
//-               img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
//-           li.search-cards__card.search-cards__card--birthday.search-cards-card.search-cards__card--toast.random-color
//-             .search-cards-card__title.search-cards-card__title--birthday.path.copytext 
//-               img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
//-               p.search-cards-card__text Я хочу поднять свой бокал за тех замечательных людей, которые сидят сейчас вместе со мной. Хочу сказать спасибо судьбе, что она связала меня с этими людьми и наши дороге пересеклись. Не один раз они выручали меня, были моей поддержкой и опорой. Каждый из Я хочу поднять свой бокал за тех замечательных людей, которые сидят сейчас вместе со мной. Хочу сказать спасибо судьбе, что она связала меня с этими людьми и наши дороге пересеклись. Не один раз они выручали меня, были моей поддержкой и опорой. Каждый изХочу сказать спасибо судьбе, что она связала меня с этими людьми и наши дороге пересеклись. Не один раз они выручали меня, были моей поддержкой и опорой. 
//-               img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
//-             .search-cards-card__add.search-cards-card__add--toast Продолжение
//-           li.search-cards__card.search-cards__card--birthday.search-cards-card.search-cards__card--toast.path.random-color
//-             .search-cards-card__title.search-cards-card__title--birthday.copytext
//-               img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
//-               p.search-cards-card__text Пусть на ваших губах всегда будет привкус сладкой жизни, в ушах звенит мелодия любви. А в голове — мысли лишь о победе, и о том, чтобы всю жизнь ездить только на золотой карете!
//-               img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
//-           li.search-cards__card.search-cards__card--birthday.search-cards-card.search-cards__card--toast.path.random-color
//-             .search-cards-card__title.search-cards-card__title--birthday.copytext
//-               img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
//-               p.search-cards-card__text Желаю всем улыбок столько, сколько звезд на небе. Пусть в душе будет вечно весна, а жизнь беззаботна и весела! И по скольку жизнь то коротка, желаю всем прожить ее сполна. Обязательно везде всем побывать и прекрасных жизненных моментов никогда не забывать!
//-               img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
//-           li.search-cards__card.search-cards__card--birthday.search-cards-card.search-cards__card--toast.random-color
//-             .search-cards-card__title.search-cards-card__title--birthday.path.copytext 
//-               img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
//-               p.search-cards-card__text Я хочу поднять свой бокал за тех замечательных людей, которые сидят сейчас вместе со мной. Хочу сказать спасибо судьбе, что она связала меня с этими людьми и наши дороге пересеклись. Не один раз они выручали меня, были моей поддержкой и опорой. Каждый из Я хочу поднять свой бокал за тех замечательных людей, которые сидят сейчас вместе со мной. Хочу сказать спасибо судьбе, что она связала меня с этими людьми и наши дороге пересеклись. Не один раз они выручали меня, были моей поддержкой и опорой. Каждый изХочу сказать спасибо судьбе, что она связала меня с этими людьми и наши дороге пересеклись. Не один раз они выручали меня, были моей поддержкой и опорой. 
//-               img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
//-             .search-cards-card__add.search-cards-card__add--toast Продолжение
//-           li.search-cards__card.search-cards__card--birthday.search-cards-card.search-cards__card--toast.path.random-color
//-             .search-cards-card__title.search-cards-card__title--birthday.copytext
//-               img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
//-               p.search-cards-card__text Пусть на ваших губах всегда будет привкус сладкой жизни, в ушах звенит мелодия любви. А в голове — мысли лишь о победе, и о том, чтобы всю жизнь ездить только на золотой карете!
//-               img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom

//-         .search__slider
//-             .slider
//-                 .slider__arrows
//-                   i.slider__arrow.slider__arrow_prev.slider__arrow_prev--2.icon-chevron-left
//-                   i.slider__arrow.slider__arrow_next.slider__arrow_next--2.icon-chevron-right
//-                 ul.slider__body.slider-js-2
                 

//-                     li.slider__item.slider__item--birthday.slider-item-birthday.path.random-color
//-                         img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
//-                         .slider-item-birthday__inner.slider-item-birthday__inner--toasts.copytext Желаю всем улыбок столько, сколько звезд на небе. Пусть в душе будет вечно весна, а жизнь беззаботна и весела! И по скольку жизнь то коротка, желаю всем прожить ее сполна. Обязательно везде всем побывать и прекрасных жизненных моментов никогда не забывать!
//-                         img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
//-                     li.slider__item.slider__item--birthday.slider-item-birthday.path.random-color
//-                         img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
//-                         .slider-item-birthday__inner.slider-item-birthday__inner--toasts.copytext Желаю всем улыбок столько, сколько звезд на небе. Пусть в душе будет вечно весна, а жизнь беззаботна и весела! И по скольку жизнь то коротка, желаю всем прожить ее сполна. Обязательно везде всем побывать и прекрасных жизненных моментов никогда не забывать!Я хочу поднять свой бокал за тех замечательных людей, которые сидят сейчас вместе со мной. Хочу сказать спасибо судьбе, что она связала меня с этими людьми и наши дороге пересеклись. Не один раз они выручали меня, были моей поддержкой и опорой. Каждый из присутствующих заслуживает счастья, любви, и главное, таких же рядом людей, которые никогда бы не бросили их в трудный момент. Говорят, что именно сам Бог посылает нам наших верных помощников — друзей. Так выпьем за всех нас и нашу дружбу! 
//-                         img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
//-                         .slider-item-birthday__add Продолжение
//-                     li.slider__item.slider__item--birthday.slider-item-birthday.path.random-color
//-                         img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
//-                         .slider-item-birthday__inner.slider-item-birthday__inner--toasts.copytext Пусть на ваших губах всегда будет привкус сладкой жизни, в ушах звенит мелодия любви. А в голове — мысли лишь о победе, и о том, чтобы всю жизнь ездить только на золотой карете!
//-                         img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
       
//-         button.btn(type='button').home-section__button.home-section__button--toasts.home-button
//-             span Больше тостов
//-             .button-helper.button-helper--toasts



section#toasts.search.home-section
    .container
      .title-1
          h2 Лучшие тосты за столом
      .search__slider
        .slider
            .slider__arrows.slider__arrows--home
                  i.slider__arrow.slider__arrow_prev.slider__arrow_prev--2.icon-chevron-left
                  i.slider__arrow.slider__arrow_next.slider__arrow_next--2.icon-chevron-right
                
            .search__cards.search__cards--birthday.search-cards.slider__body.slider-js-2

              .search-cards__card.search-cards__card--birthday.random-color.search-cards-card.path.slider__item.slider__item--birthday
                  .search-cards-card__title.search-cards-card__title--birthday
                    img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
                    .carryover.copytext   Желаю счастья в день рожденья,Здоровья, смеха, доброты!Пусть дарит каждое мгновеньеОсуществление мечты!Всё то, что радость доставляетИ отчего душа поёт,Всё то,        что сердце вдохновляет,Пусть обязательно придёт!
                    img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
             
              
              .search-cards__card.search-cards__card--birthday.search-cards-card.path.random-color.slider__item.slider__item--birthday
                    .search-cards-card__title.search-cards-card__title--birthday
                      img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
                      .carryover.copytext   Желаю счастья в день рожденья,Здоровья, смеха, доброты!Пусть дарит каждое мгновеньеОсуществление мечты!Всё то, что радость доставляетИ    отчего душа поёт,Всё       то, что сердце вдохновляет,Пусть обязательно придёт!
                      img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
             
              
              .search-cards__card.search-cards__card--birthday.search-cards-card.path.random-color.slider__item.slider__item--birthday
                  .search-cards-card__title.search-cards-card__title--birthday
                    img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
                    .carryover.copytext Желаю счастья в день рожденья, Здоровья, смеха, доброты! Пусть дарит каждое мгновенье Осуществление мечты! Всё то, что радость доставляет И отчего душа поёт, Всё  то, что сердце вдохновляет, Пусть обязательно придёт!Желаю счастья в день рожденья, Здоровья, смеха, доброты! Пусть дарит каждое мгновенье Осуществление мечты! Всё то, что радость доставляет И отчего душа поёт, Всё то, что сердце вдохновляет, Пусть обязательно придёт!
                    img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
                  .search-cards-card__add Продолжение
             
            div.search-cards-hidden
                  .search-cards__card.search-cards__card--birthday.search-cards-card.path.random-color._hidden-card
                      .search-cards-card__title.search-cards-card__title--birthday
                        img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
                        .carryover.copytext Желаю счастья в день рожденья, Здоровья, смеха, доброты! Пусть дарит каждое мгновенье Осуществление мечты! Всё то, что радость доставляет И отчего душа поёт
                        img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom


                  .search-cards__card.search-cards__card--birthday.search-cards-card.path.random-color._hidden-card
                      .search-cards-card__title.search-cards-card__title--birthday
                        img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
                        .carryover.copytext Желаю счастья в день рожденья, Здоровья, смеха, доброты! Пусть дарит каждое мгновенье Осуществление мечты! Всё то, что радость доставляет И отчего душа поёт,     Всё        то, что сердце вдохновляет, Пусть обязательно придёт!Желаю счастья в день рожденья, Здоровья, смеха, доброты! Пусть дарит каждое мгновенье Осуществление мечты! Всё то,    что радость        доставляет И отчего душа поёт, Всё то, что сердце вдохновляет, Пусть обязательно придёт!
                        img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
                      .search-cards-card__add Продолжение


                  .search-cards__card.search-cards__card--birthday.search-cards-card.path.random-color._hidden-card
                      .search-cards-card__title.search-cards-card__title--birthday
                        img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
                        .carryover.copytext Желаю счастья в день рожденья, Здоровья, смеха, доброты! Пусть дарит каждое мгновенье Осуществление мечты! Всё то, что радость доставляет И отчего душа поёт,     Всё     то, что сердце вдохновляет, Пусть обязательно придёт!Желаю счастья в день рожденья, Здоровья, смеха, доброты! Пусть дарит каждое мгновенье Осуществление мечты! Всё то,     что радость     доставляет И отчего душа поёт, Всё то, что сердце вдохновляет, Пусть обязательно придёт!
                        img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
                      .search-cards-card__add Продолжение


                  .search-cards__card.search-cards__card--birthday.search-cards-card.path.random-color._hidden-card
                      .search-cards-card__title.search-cards-card__title--birthday
                        img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
                        .carryover.copytext Желаю счастья в день рожденья, Здоровья, смеха, доброты! Пусть дарит каждое мгновенье Осуществление мечты! Всё то, что радость доставляет И отчего душа поёт,     Всё     то, что сердце вдохновляет, Пусть обязательно придёт!Желаю счастья в день рожденья, Здоровья, смеха, доброты! Пусть дарит каждое мгновенье Осуществление мечты! Всё то,     что радость     доставляет И отчего душа поёт, Всё то, что сердце вдохновляет, Пусть обязательно придёт!
                        img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
                      .search-cards-card__add Продолжение

                  .search-cards__card.search-cards__card--birthday.search-cards-card.path.random-color._hidden-card
                      .search-cards-card__title.search-cards-card__title--birthday
                        img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
                        .carryover.copytext Желаю счастья в день рожденья, Здоровья, смеха, доброты! Пусть дарит каждое мгновенье Осуществление мечты! Всё то, что радость доставляет И отчего душа поёт
                        img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
                  .search-cards__card.search-cards__card--birthday.search-cards-card.path.random-color._hidden-card
                      .search-cards-card__title.search-cards-card__title--birthday
                        img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
                        .carryover.copytext Желаю счастья в день рожденья, Здоровья, смеха, доброты! Пусть дарит каждое мгновенье Осуществление мечты! Всё то, что радость доставляет И отчего душа поёт
                        img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
         
        button.btn(type='button').home-section__button.home-section__button--toasts.but-js-2
          span Больше тостов
          .button-helper.button-helper--toasts
