
section#toasts.search.home-section
    .container
      .title-1
          h2 Лучшие тосты за столом
      .search__slider
          .slider
           
            ul.search__cards.search__cards--birthday.search-cards

              li.search-cards__card.search-cards__card--birthday.random-color.search-cards-card.path--birthday
                  .search-cards-card__title.search-cards-card__title--birthday
                    img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
                    .carryover.copytext   Желаю счастья в день рожденья,Здоровья, смеха, доброты!Пусть дарит каждое мгновеньеОсуществление мечты!Всё то, что радость доставляетИ отчего душа поёт,Всё то,        что сердце вдохновляет,Пусть обязательно придёт!
                    img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
             
              
              li.search-cards__card.search-cards__card--birthday.search-cards-card.path.random-color
                    .search-cards-card__title.search-cards-card__title--birthday
                      img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
                      .carryover.copytext   Желаю счастья в день рожденья,Здоровья, смеха, доброты!Пусть дарит каждое мгновеньеОсуществление мечты!Всё то, что радость доставляетИ    отчего душа поёт,Всё       то, что сердце вдохновляет,Пусть обязательно придёт!
                      img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
             
              
              li.search-cards__card.search-cards__card--birthday.search-cards-card.path.random-color
                  .search-cards-card__title.search-cards-card__title--birthday
                    img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
                    .carryover.copytext Желаю счастья в день рожденья, Здоровья, смеха, доброты! Пусть дарит каждое мгновенье Осуществление мечты! Всё то, что радость доставляет И отчего душа поёт, Всё  то, что сердце вдохновляет, Пусть обязательно придёт!Желаю счастья в день рожденья, Здоровья, смеха, доброты! Пусть дарит каждое мгновенье Осуществление мечты! Всё то, что радость доставляет И отчего душа поёт, Всё то, что сердце вдохновляет, Пусть обязательно придёт!
                    img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
             
              li.search-cards__card.search-cards__card--birthday.search-cards-card.path.random-color._hidden-card
                      .search-cards-card__title.search-cards-card__title--birthday
                        img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
                        .carryover.copytext Желаю счастья в день рожденья, Здоровья, смеха, доброты! Пусть дарит каждое мгновенье Осуществление мечты! Всё то, что радость доставляет И отчего душа поёт
                        img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom


              li.search-cards__card.search-cards__card--birthday.search-cards-card.path.random-color._hidden-card
                      .search-cards-card__title.search-cards-card__title--birthday
                        img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
                        .carryover.copytext Желаю счастья в день рожденья, Здоровья, смеха, доброты! Пусть дарит каждое мгновенье Осуществление мечты! Всё то, что радость доставляет И отчего душа поёт,     Всё        то, что сердце вдохновляет, Пусть обязательно придёт!Желаю счастья в день рожденья, Здоровья, смеха, доброты! Пусть дарит каждое мгновенье Осуществление мечты! Всё то,    что радость        доставляет И отчего душа поёт, Всё то, что сердце вдохновляет, Пусть обязательно придёт!
                        img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom


              li.search-cards__card.search-cards__card--birthday.search-cards-card.path.random-color._hidden-card
                      .search-cards-card__title.search-cards-card__title--birthday
                        img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
                        .carryover.copytext Желаю счастья в день рожденья, Здоровья, смеха, доброты! Пусть дарит каждое мгновенье Осуществление мечты! Всё то, что радость доставляет И отчего душа поёт,     Всё     то, что сердце вдохновляет, Пусть обязательно придёт!Желаю счастья в день рожденья, Здоровья, смеха, доброты! Пусть дарит каждое мгновенье Осуществление мечты! Всё то,     что радость     доставляет И отчего душа поёт, Всё то, что сердце вдохновляет, Пусть обязательно придёт!
                        img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom


              li.search-cards__card.search-cards__card--birthday.search-cards-card.path.random-color._hidden-card
                      .search-cards-card__title.search-cards-card__title--birthday
                        img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
                        .carryover.copytext Желаю счастья в день рожденья, Здоровья, смеха, доброты! 
                        img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom

              li.search-cards__card.search-cards__card--birthday.search-cards-card.path.random-color._hidden-card
                      .search-cards-card__title.search-cards-card__title--birthday
                        img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
                        .carryover.copytext Желаю счастья в день рожденья, Здоровья, смеха, доброты! Пусть дарит каждое мгновенье Осуществление мечты! Всё то, что радость доставляет И отчего душа поёт
                        img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
              li.search-cards__card.search-cards__card--birthday.search-cards-card.path.random-color._hidden-card
                      .search-cards-card__title.search-cards-card__title--birthday
                        img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-top
                        .carryover.copytext Желаю счастья в день рожденья, Здоровья, смеха, доброты! Пусть дарит каждое мгновенье Осуществление мечты! Всё то, что радость доставляет И отчего душа поёт
                        img(src="assets/img/home/divider.svg",alt="img").search-cards-card__img.search-cards-card__img--birthday.search-cards-card__img--birthday-bottom
         
          button.btn(type='button').home-section__button.home-section__button--toasts.but-js-1
            span Больше тостов
            .button-helper.button-helper--toasts







